<div class="row club-header">
  <div class="avatar pull-left">
    <%= image_tag @club.club_extend.avatar %>
  </div>
  <div class="title pull-left">
    <h3><%= @club.name %></h3>
    <h6><%= @club.club_extend.description %></h6>
  </div>
  <div class="pull-right">
    <% if logged_in? %>
        <% if isMember? %>
            <a href="<%= club_membership_path(@club.id, @current_user.id) %>" class="btn btn-sm btn-message">
              <i class="fa fa-star"></i>
              Membership</a>
        <% else %>
            <a href="<%= club_membership_path(@club.id, @current_user.id) %>" class="btn btn-sm btn-message toggled">
              <i class="fa fa-star"></i>
              Membership</a>
        <% end %>
    <% end %>
  </div>
</div>