<div class="row club-nav">
    <ul>
        <li <%= activePage?('clubs','show') %>><%= link_to "Home", club_show_path(@club.id) %></li>
        <li <%= activePage?('clubs','gallery') %>><%= link_to "Gallery", club_gallery_path(@club.id) %></li>
        <li <%= activePage?('clubs','announcement') %>><%= link_to "Announcements", club_announcement_path(@club.id) %></li>
        <li <%= activePage?('clubs','members') %>><%= link_to "Members", club_members_path(@club.id) %></li>
        <li <%= activePage?('clubs','settings') %>><%= link_to "Settings", club_settings_path(@club.id) %></li>
    </ul>
</div>