<%= render('clubs/header') %>
<%= render('clubs/navbar') %>
<div class="clearfix"></div>
<div class="row" id="club-body">
  <div class="half-ll">
    <% if logged_in? && isOwner? %>
        <h3>Create New Announcement</h3>
        <%= form_for @announcement, url: club_announcement_new_path(@club.id) do |f| %>
            <%= f.hidden_field :club_id, :value => @club.id %>
            <div class="form-group">
              <%= f.text_field :title, :class => 'form-control', :placeholder => 'Announcement Title' %>
            </div>
            <div class="form-group">
              <%= f.text_area :text, :class => 'form-control', :placeholder => 'Announcement Text', :rows => 20 %>
            </div>
            <div class="form-group">
              <%= f.button :class => 'btn btn-sm btn-primary include pull-right' do %>
                  <i class="fa fa-paper-plane"></i>Create
              <% end %>
            </div>
        <% end %>
    <% else %>
        <div class="text-center center-block">
          <i class="fa fa-exclamation-triangle fa-5x"></i>
        </div>
    <% end %>
  </div>
  <div class="half-rr">
    <% @announcements.each do |announcement| %>
        <div class="announcement-display">
          <div class="title">
            <%= link_to announcement.title, club_announcement_show_path(@club.id, announcement.id) %>
            <div class="pull-right">
              <small><%= dateFormat(announcement.created_at) %></small>
              <% if logged_in? && isOwner? %>
                  <%= link_to "#{content_tag('i', '', :class => 'fa fa-trash')} Delete".html_safe, club_announcement_delete_path(@club.id, announcement.id), :class => 'btn btn-sm btn-danger', method: 'delete' %>
                  <%= link_to "#{content_tag('i', '', :class => 'fa fa-adjust')} Edit".html_safe, club_announcement_edit_path(@club.id, announcement.id), :class => 'btn btn-sm btn-warning' %>
              <% end %>
            </div>
          </div>
          <div class="text">
            <%= simple_format(announcement.text) %>
            <div class="gradient-hide hide">
              <div class="text-center center-block">
                <%= link_to "Read Announcement", club_announcement_show_path(@club.id, announcement.id) %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>