<%= render('clubs/header') %>
<%= render('clubs/navbar') %>
<div class="clearfix"></div>
<div class="row" id="gallery">
  <h4><%= @a.title %>
    <br/>
    <small>Created on <%= dateFormat(@a.created_at) %></small>
  </h4>
  <div style="margin-top: 20px;">
    <%= simple_format(@a.text) %>
  </div>
  <div class="gallery-display">
  </div>
</div>