<%= render('clubs/header') %>
<%= render('clubs/navbar') %>
<div class="clearfix"></div>
<div class="row" id="gallery">
  <h4>Gallery</h4>
  <div class="gallery-display">
    <% @galleries.each do |gallery| %>
        <div class="item">
          <%= link_to "#{image_tag gallery.submission.file_name}".html_safe, submission_view_path(gallery.submission.slug) %>
        </div>
    <% end %>
  </div>
</div>