<% if @clubs.nil? || @clubs.blank? %>
    <div class="container">
      <div class="row">
        <div class="text-center center-block">
          <h1>No clubs have been found.</h1>
          <%= link_to content_tag(:i, '', {:class => 'fa fa-plus mr5'}) + 'Create Club', club_new_path, {:class => 'btn btn-success btn-lg'} %>
        </div>
      </div>
    </div>
<% else %>
    <div class="row">
      <div id="clubs-list">
        <div class="sidebar">
          <% @clubs.each do |club| %>
              <% @user = User.find_by(id: club.owner_id) %>
              <div class="club-display">
                <%= image_tag club.club_extend.avatar, :class => 'club-avatar' %>
                <div class="club-info">
                  <h4><%= link_to club.name, club_show_path(club.id) %><br/>
                    <small><%= link_to @user.username, user_view_path(@user.username) %></small>
                  </h4>
                </div>
                <div class="clearfix"></div>
              </div>
          <% end %>
        </div>
        <div class="body">
          <div class="text-center center-block">
            <h1>Create new Club</h1>
            <%= link_to content_tag(:i, '', {:class => 'fa fa-plus mr5'}) + 'Create Club', club_new_path, {:class => 'btn btn-success btn-lg'} %>
          </div>
        </div>
      </div>
    </div>
<% end %>