<div class="container" id="clubs">
  <div class="row">
    <%= form_for @club, url: {action: 'create'}, :html => {:multipart => true} do |f| %>
        <div class="side">
          <%= f.file_field :avatar, {:class => 'hide', :id => 'avatar-upload'} %>
          <a href="#" onclick="return false;" id="avatar-open">
            <div class="club-avatar">
              <i class="fa fa-circle fa-5x"></i>
              <i class="fa fa-user fa-4x fa-inverse"></i>
              <img src="" alt="" id="club-avatar" class="hide img-circle">
              <small>Change Avatar</small>
            </div>
          </a>
        </div>
        <div class="body">
          <div class="form-group">
            <h4>Founder</h4>
            <h5><%= @current_user.username %></h5>
          </div>
          <div class="form-group">
            <h4>What is the name of your Club?</h4>
            <%= f.text_field :name, :class => 'form-control' %>
          </div>
          <div class="form-group">
            <h4>What is your club about?</h4>
            <%= f.text_area :description, :class => 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.submit 'Create Club', :class => 'btn btn-primary pull-right' %>
          </div>
        </div>
    <% end %>
  </div>
</div>