<%= render('clubs/header') %>
<%= render('clubs/navbar') %>
<div class="clearfix"></div>
<div class="row settings-page" id="club-body">
  <h4>Settings</h4>
  <div>
    <%= form_for :club, url: club_settings_patch_path(@club.id), method: 'patch', :html => {:multipart => true} do |f| %>
        <div class="half-ll">
          <div class="form-group">
            <%= f.file_field :avatar, {:class => 'hide', :id => 'avatar-upload'} %>
            <a href="#" onclick="return false;" id="avatar-open">
              <div class="club-avatar">
                <i class="fa fa-circle fa-5x"></i>
                <i class="fa fa-user fa-4x fa-inverse"></i>
                <img src="" alt="" id="club-avatar" class="hide img-circle">
                <small>Change Avatar</small>
              </div>
            </a>
          </div>
        </div>
        <div class="half-rr">
          <div class="form-group">
            <%= f.label "Club Name" %>
            <%= f.text_field :name, :class => 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label "Description" %>
            <%= f.text_area :description, :class => 'form-control', :value => sanitize(@club.club_extend.description) %>
          </div>
          <div class="form-group">
            <%= f.label "Profile" %>
            <%= f.text_area :profile, :class => 'form-control', :value => sanitize(@club.club_extend.profile) %>
          </div>
          <div class="form-group">
            <%= f.submit "Save", :class => 'btn btn-sm btn-primary' %>
          </div>
        </div>
    <% end %>
  </div>
</div>