<%= render('clubs/header') %>
<%= render('clubs/navbar') %>
<div class="row" id="club-body">
  <div class="half-ll">

    <div class="gen-container">
      <div class="header">Submissions
        <div class="arrow-down"></div>
      </div>
      <div class="inner">
        <div class="center-block text-center">
          <% @cs.each do |cs| %>
              <%= link_to "#{image_tag cs.submission.file_name, :class => 'img-responsive center-block text-center'}".html_safe, submission_view_path(cs.submission.slug) %>
              <br/><br/>
              <div><h4><%= link_to cs.submission.title, submission_view_path(cs.submission.slug) %></h4></div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="gen-container">
      <div class="header">Announcements
        <div class="arrow-down"></div>
      </div>
      <div class="inner">
        <% @a.each do |a| %>
            <h3><%= link_to a.title, club_announcement_show_path(@club.id, a.id) %></h3>
            <div>
              <%= simple_format(a.text) %>
            </div>
        <% end %>
      </div>
    </div>

    <div class="gen-container">
      <div class="header">Members
        <div class="arrow-down"></div>
      </div>
      <div class="inner member-avatars">
        <% @members.each do |member| %>
            <%= link_to "#{image_tag grabGravatar(member.user.email), :class => 'club-member-icon img-rounded'}".html_safe, user_view_path(member.user.username) %>
        <% end %>
      </div>
    </div>

  </div>
  <div class="half-rr">

    <div class="gen-container">
      <div class="header">Profile
        <div class="arrow-down"></div>
      </div>
      <div class="inner">
        <%= simple_format(@club.club_extend.profile) %>
      </div>
    </div>

    <div class="gen-container">
      <div class="header">Comments
        <div class="arrow-down"></div>
      </div>
    </div>
    <% if logged_in? %>
        <div class="comment">
          <div>
            <div class="comment-new">
              <%= form_for @c, url: club_comment_path, method: 'post' do |f| %>
                  <%= f.hidden_field :user_id, :value => @current_user.id %>
                  <%= f.hidden_field :club_id, :value => @club.id %>
                  <div class="avatar">
                    <%= image_tag grabGravatar(@current_user.email) %>
                  </div>
                  <div class="comment">
                    <div class="comment-arrow-left"></div>
                    <%= f.text_area :comment, :class => 'form-control comments-textarea' %>
                  </div>
                  <div class="pull-right">
                    <button type="submit">Post Comment</button>
                  </div>
              <% end %>
            </div>
          </div>
          <div class="comments-list">
            <% @comments.each do |comment| %>
                <div class="comment-display clearfix">
                  <div class="avatar">
                    <%= image_tag grabGravatar comment.user.email %>
                  </div>
                  <div class="comment-block">
                    <div class="left-arrow"></div>
                    <div class="text">
                      <h5>
                        <%= link_to comment.user.username, user_view_url(comment.user.username) %>
                        <small data-toggle="tooltip" data-placement="top" title="<%= time_ago_in_words(comment.created_at) %> ago"><%= comment.created_at.strftime('%b %d, %Y') %></small>
                      </h5>
                      <p class="comment-data">
                        <%= comment.comment %>
                      </p>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
          <%= render 'submission/pagination' %>
        </div>
    <% end %>

  </div>
</div>