<%= render('clubs/header') %>
<%= render('clubs/navbar') %>
<div class="clearfix"></div>
<div class="row" id="gallery">
  <h4>Members (<%= @users.count %>)</h4>
  <div class="members-display">
    <% @users.each do |user| %>
      <div class="user-avatar">
        <%= image_tag grabGravatar(user.user.email), :class => 'img-rounded' %>
      </div>
    <% end %>
  </div>
</div>