<div class="row userpage">
  <%= render('user/userheader') %>

  <div class="half-split-container clearfix">
    <div class="half-ll">
      <div class="polls-wrapper">
        <div class="header">
          <h5><strong>Edit a Poll</strong></h5>
          <div class="ad-8"></div>
        </div>
        <%= form_for :polls, url: update_polls_path, method: 'patch' do |f| %>
            <%= f.hidden_field :poll_id, :value => params[:id] %>
            <div class="form-group">
              <%= f.label "Poll Title" %>
              <%= f.text_field :poll_title, :class => 'form-control', :placeholder => "Title of Poll", :value => @poll.title %>
            </div>
            <div class="form-group">
              <%= f.label "Poll Description" %>
              <%= f.text_area :poll_text, :class => 'form-control', :placeholder => 'Description of Poll', :value => @poll.text %>
            </div>
            <div id="option-container">
              <label>Options</label>
              <% (0..9).each do |i| %>
                  <div class="form-group">
                    <input class="form-control" type="text" name="polls[options][option_<%= i %>]" id="polls_options_<%= i %>" placeholder="Selection for Option <%= i + 1 %>" value="<%= JSON.parse(@poll.poll_option.options)["option_#{i}"] %>">
                  </div>
              <% end %>
            </div>
            <%= f.submit "Edit Poll", :class => 'gg-btn' %><br/>
        <% end %>
      </div>
    </div>
    <div class="half-lr"></div>
  </div>
</div>