<div class="row userpage">
  <%= render('user/userheader') %>

  <div class="half-split-container clearfix">
    <div class="half-ll">
      <div class="polls-wrapper">
        <div class="header">
          <h5><strong>Create a Poll</strong></h5>
          <div class="ad-8"></div>
        </div>
        <% if ownsPage? %>
            <%= form_for :polls, url: post_polls_path do |f| %>
                <div class="form-group">
                  <%= f.label "Poll Title" %>
                  <%= f.text_field :poll_title, :class => 'form-control', :placeholder => "Title of Poll" %>
                </div>
                <div class="form-group">
                  <%= f.label "Poll Description" %>
                  <%= f.text_area :poll_text, :class => 'form-control', :placeholder => 'Description of Poll' %>
                </div>
                <div id="option-container">
                  <label>Options</label>
                  <% (0..9).each do |i| %>
                      <div class="form-group">
                        <input type="hidden" name="polls[values][value_<%= i %>" value="0">
                        <input class="form-control" type="text" name="polls[options][option_<%= i %>]" id="polls_options_<%= i %>" placeholder="Selection for Option <%= i + 1 %>">
                      </div>
                  <% end %>
                </div>
                <%= f.submit "Post Poll", :class => 'gg-btn' %><br/>
            <% end %>
        <% else %>
            <%= form_for :polls, url: post_polls_path do |f| %>
                <div style="padding: 20px;" class="center-block text-center">
                  <i class="fa fa-exclamation-triangle fa-5x"></i>
                  <h3>You do not have the permissions to do this!</h3>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>
    <div class="half-lr">
      <% @allpolls.each do |poll| %>
          <%= form_for :vote_poll, url: vote_polls_path(@user.username, poll.id) do |f| %>
              <div class="poll-container clearfix">
                <div class="pull-left"><h4><%= poll.title %></h4></div>
                <div class="pull-right">
                  <% if ownsPoll?(poll.id) && logged_in? %>
                      <%= link_to 'Edit', edit_polls_path(@user.username, poll.id), :class => 'btn btn-warning' %>
                      <%= link_to 'Delete', delete_polls_path(@user.username, poll.id), :class => 'btn btn-danger', :method => 'delete' %>
                  <% end %>
                </div>
                <div class="clearfix"></div>
                <p class="poll-text"><%= poll.text %></p>
                <% (0..9).each do |i| %>
                    <% if !JSON.parse(poll.poll_option.options)['option_' + i.to_s].blank? %>
                        <dl>
                          <dt><%= JSON.parse(poll.poll_option.options)['option_' + i.to_s] %></dt>
                          <dd>
                            <div class="progress">
                              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%= JSON.parse(poll.poll_option.values)['value_' + i.to_s] %>"
                                   aria-valuemin="0" aria-valuemax="100" style="width: <%= JSON.parse(poll.poll_option.values)['value_' + i.to_s] %>%"></div>
                            </div>
                          </dd>
                        </dl>
                    <% end %>
                <% end %>
                <% if logged_in? && !userVoted?(poll.id, @current_user.id) %>
                    <%= f.submit "Vote", :class => 'gg-btn pull-right' %>
                <% end %>
              </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>