<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li>
      <a href="<%= admin_index_path %>">Dashboard</a>
    </li>
    <li>
      <a href="<%= admin_users_path %>">Users</a>
    </li>
    <li>
      <a href="#">Reports</a>
    </li>
    <li>
      <a href="#">Advertisements</a>
    </li>
    <li>
      <a href="#">Chat</a>
    </li>
    <li>
      <a href="#">Help Desk</a>
    </li>
    <li>
      <a href="#">Bug Desk</a>
    </li>
  </ul>
</div>