<div id="wrapper">
  <%= render 'admin/sidebar' %>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h2>User Registration Graphs</h2>
          <%= line_chart User.group_by_day(:created_at).count, library: {yAxis: {allowDecimals: false}} %>
        </div>
      </div>
    </div>
  </div>
</div>