<div id="wrapper">
  <%= render 'admin/sidebar' %>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h2>User Moderation</h2>

          <%= form_for :user_search do |f| %>
              <div class="input-group">
                <%= f.text_field :username, :class => 'form-control', :placeholder => 'Search for User...' %>
                <span class="input-group-btn">
                <%= f.button 'Search', :class => 'btn btn-default', :type => 'submit' %>
              </span>
              </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>