<div class="pm-list">
  <div class="select-area">
    <button class="btn btn-select" id="selectAllMessages">Select All</button>
    <div class="pull-right">
      <button class="btn btn-select" id="deleteMessages">Delete</button>
    </div>
    <div class="clearfix"></div>
  </div>
  <%= form_for :message, url: delete_pm_path, :html => {id: 'messagesForm'} do |f| %>
      <% @messages.each do |message| %>
          <div class="msg-container">
            <div class="msg-cb">
              <%= f.check_box "m_#{message.id}", {:class => 'cbmessage', :checked => false}, message.id, 0 %>
            </div>
            <div class="msg-data">
              <div class="pull-left">
                <div><strong><%= link_to message.title, read_pm_path(message.id) %></strong></div>
                <div>
                  <small>from <%= message.user.username %></small>
                </div>
              </div>
              <div class="pull-right">
                <div class="pm-date">
                  <small><%= time_ago_in_words message.created_at %></small>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
      <% end %>
  <% end %>
  <%= render 'layouts/genpagination' %>
</div>
<% if action_name === 'show' %>
    <div class="pm-read">
      <div class="center-block text-center">
        <i class="fa fa-envelope fa-3x"></i>
        <h3>Please choose a message to read.</h3>
      </div>
    </div>
<% elsif action_name === 'read' %>
    <div class="pm-read">
      <div class="header">
        <div class="avatar">
          <div class="avatar-80">
            <%= image_tag grabGravatar(@sender.email) %>
          </div>
        </div>
        <div class="header-text">
          <h3><%= @message.title %></h3>
          <small>from <%= link_to @sender.username, view_user_path(@sender.username) %></small>
          <br/>
          <small>to <%= link_to @message.user.username, view_user_path(@message.user.username) %></small>
        </div>
      </div>
      <div class="data-text">
        <%= simple_format(@message.text) %>
      </div>
    </div>
<% end %>