<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li <%= activePage?('notifications', 'show') %>>
    <a href="<%= notifications_show_path %>"><i class="fa fa-archive"></i>Notifications</a></li>
    <li><a href="<%= notifications_reports_path %>"><i class="fa fa-flag"></i>Reports
      <span class="badge"><%= notificationCount @current_user.notifications.where('tid = ?', 0).count %></span></a></li>
    <li><a href="<%= notifications_watch_path %>"><i class="fa fa-eye"></i>Watches
      <span class="badge"><%= notificationCount @current_user.notifications.where('tid = ?', 1).count %></span></a></li>
    <li><a href="<%= notifications_art_path %>"><i class="fa fa-bars"></i>Art
      <span class="badge"><%= notificationCount @current_user.notifications.where('tid = ?', 5).count %></span></a></li>
    <li><a href="<%= notifications_comments_path %>"><i class="fa fa-comments"></i>Comments
      <span class="badge"><%= notificationCount @current_user.notifications.where('tid = ?', 2).count %></span></a></li>
    <li><a href="<%= notifications_journals_path %>"><i class="fa fa-pencil-square"></i>Journals
      <span class="badge"><%= notificationCount @current_user.notifications.where('tid = ?', 4).count %></span></a></li>
    <li><a href="<%= notifications_polls_path %>"><i class="fa fa-bar-chart"></i>Polls
      <span class="badge"><%= notificationCount @current_user.notifications.where('tid = ?', 6).count %></span></a></li>
    <li><a href="<%= notification_favs_path %>"><i class="fa fa-heart"></i>Favourites
      <span class="badge"><%= notificationCount @current_user.notifications.where('tid = ?', 8).count %></span></a></li>
  </ul>
</div>