<div class="row">
  <div id="wrapper" class="notifications">
    <%= render 'notifications/sidebar' %>
    <div id="page-content-wrapper">
      <div class="gen-container" id="comments">
        <div class="header">Advertisement
          <div class="arrow-down"></div>
        </div>
      </div>
      <%= image_tag 'test/720x120.png', :class => 'center-block ad-image' %>

      <div class="gen-container" id="comments">
        <div class="header">New Art
          <div class="arrow-down"></div>
        </div>
      </div>
      <div class="art-body-container">
        <% @reports.each do |report| %>
            <% json = ActiveSupport::JSON.decode report.data %>
            <% subdata = Submission.find_by_id(json['id']) %>
            <div class="art-piece">
              <%= link_to '', delete_notification_path(report.id), {class: 'fa fa-times-circle art-delete', method: 'post', 'data-toggle' => 'tooltip', 'title' => 'Delete Notification', 'data-placement' => 'left'} %>
              <%= link_to submission_view_url(subdata.slug) do %>
                  <%= image_tag subdata.file_name %>
              <% end %>
              <div class="center-block text-center"><%= link_to subdata.title, submission_view_url(subdata.slug), {:class => 'text-center'} %></div>
              <div class="center-block text-center">by <%= link_to subdata.user.username, view_user_path(subdata.user.username) %></div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>