<div class="row">
  <div id="wrapper" class="notifications">
    <%= render 'notifications/sidebar' %>
    <div id="page-content-wrapper">
      <div class="gen-container" id="comments">
        <div class="header">Advertisement
          <div class="arrow-down"></div>
        </div>
      </div>
      <%= image_tag 'test/720x120.png', :class => 'center-block ad-image' %>

      <div class="gen-container" id="comments">
        <div class="header">Polls
          <div class="arrow-down"></div>
        </div>
      </div>
      <div class="comments-container">
        <% @reports.each do |report| %>
            <% json = ActiveSupport::JSON.decode report.data %>
            <% @s = Poll.find_by_id(json['id']) %>
            <div class="comment-row">
              New Poll
              <strong><%= link_to @s.title, view_polls_path(@s.user.username) %></strong>
              by
              <%= link_to @s.user.username, user_view_path(@s.user.username) %>
              <div class="pull-right">
                <span class="label label-default"><%= dateFormat(report.created_at) %></span>
                <%= link_to '', delete_notification_path(report.id), {class: 'fa fa-times-circle art-delete', method: 'post', 'data-toggle' => 'tooltip', 'title' => 'Delete Notification', 'data-placement' => 'left'} %>
              </div>
              <div class="clearfix"></div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>