<div class="row">
  <div id="wrapper" class="notifications">
    <%= render 'notifications/sidebar' %>
    <div id="page-content-wrapper">
      <div class="gen-container" id="comments">
        <div class="header">Advertisement
          <div class="arrow-down"></div>
        </div>
      </div>
      <%= image_tag 'test/720x120.png', :class => 'center-block ad-image' %>

      <div class="gen-container" id="comments">
        <div class="header">Reports
          <div class="arrow-down"></div>
        </div>
      </div>
      <div class="reportaa-container">
        <% @reports.each do |report| %>
            <% json = ActiveSupport::JSON.decode report.data %>
            <% subdata = @current_user.submissions.find_by_id(json['id']) %>
            <div class="report-container">
              <div class="report-body">
                <div class="pull-left">
                  <%= link_to subdata.title, submission_view_url(subdata.slug) %> has been Reported
                </div>
                <div class="pull-right">
                  <%= displayReportStatus(subdata.report.status) %>
                  <span class="label label-default"><%= dateFormat(report.created_at) %></span>
                  <%= link_to '', delete_notification_path(report.id), {class: 'fa fa-times-circle', method: 'post', 'data-toggle' => 'tooltip', 'title' => 'Delete Notification', 'data-placement' => 'left'} %>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>