<div class="row">
  <div id="wrapper" class="notifications">
    <%= render 'notifications/sidebar' %>
    <div id="page-content-wrapper">
      <div class="gen-container" id="comments">
        <div class="header">Advertisement
          <div class="arrow-down"></div>
        </div>
      </div>
      <%= image_tag 'test/720x120.png', :class => 'center-block ad-image' %>

      <div class="gen-container" id="comments">
        <div class="header">Private Messages
          <div class="arrow-down"></div>
        </div>
      </div>
      <div class="pm-container">
        <%= render 'notifications/pms' %>
      </div>
    </div>
  </div>
</div>