<div class="row">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <h3>Acceptable Art Agreement</h3>
        <h6>Last Updated: 05 May 2016</h6>

        <p>These rules are strictly enforced and will result in action based on the seveirty of the violation</p>

        <div class="block">
          <h4>Gender</h4>
          <ul>
            <li>All works must be focused on male characters, we allow females under certain conditions:
              <ul>
                <li>Females must not be the main focus of the material</li>
                <li>Females must also not be engaged in any sort of sexually explicit material</li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="block">
          <h4>Photography & Models</h4>
          <ul>
            <li>We do allow photography containing real people to be part of the gallery, however:
              <ul>
                <li>They must be 18 years or older.</li>
                <li>Must be a male.</li>
                <li>If the person appears nude you must provide a model release form or model permission form.</li>
                <li>We do not allow selfies, "nudes" or various forms of photography that are not professional grade or
                  similar standards.
                </li>
                <li>We also allow the contribution of cosplay.</li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="block">
          <h4>Shota</h4>
          <ul>
            <li>Shota is strictly forbidden, if you are found to be contributing shota you will be denied service on our
              platform permanently.
            </li>
          </ul>
        </div>

        <div class="block">
          <h4>Access to Platform</h4>
          <ul>
            <li>You must be age 18 or older, if you are found to not meet this requirement you will be permanently
              banned from the service until the user reaches the age of 18 or longer.
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>