<div class="row">
  <div class="container">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="row">
      <div class="pull-right">
        <h3>
          <%= Time.now.strftime("%A, %B %d, %Y") %>
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="row header-row">
  <div class="art-block-header">
    <div class="art-block-inner">
      <div class="container">
        <div class="row">
          <h2>
            Brand New
            <small>Check our art that was just uploaded!</small>
          </h2>
          <div class="art-block-down"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="container grid-display">
    <div class="row grid-row">
      <!--Single Column-->
      <div class="grid-column">
        <% (0..2).each do |i| %>
            <% if !@top16[i].nil? %>
                <div class="grid-thumb">
                  <a href="<%= submission_view_url(@top16[i].slug) %>">
                    <div class="grid grid-100 scale-25" style="background-image: url(<%= image_url(@top16[i].file_name) %>)">
                      <img src="<%= image_url(@top16[i].file_name) %>" alt="<%= @top16[i].title %>" class="faker-thumb">
                    </div>
                  </a>
                </div>
            <% end %>
        <% end %>
      </div>

      <!--Double Column-->
      <div class="grid-column double">
        <% if !@top16[3].nil? %>
            <div class="grid-thumb">
              <a href="<%= submission_view_url(@top16[3].slug) %>">
                <div class="grid grid-200 scale-25" style="background-image: url(<%= image_url(@top16[3].file_name) %>)">
                  <img src="<%= image_url(@top16[3].file_name) %>" alt="<%= @top16[3].title %>" class="faker-thumb">
                </div>
              </a>
            </div>
        <% end %>

        <% (4..5).each do |i| %>
            <% if !@top16[i].nil? %>
                <div class="grid-thumb">
                  <a href="<%= submission_view_url(@top16[i].slug) %>">
                    <div class="grid grid-100 scale-25" style="background-image: url(<%= image_url(@top16[i].file_name) %>)">
                      <img src="<%= image_url(@top16[i].file_name) %>" alt="<%= @top16[i].title %>" class="faker-thumb">
                    </div>
                  </a>
                </div>
            <% end %>
        <% end %>
      </div>

      <!--Single Column-->

      <div class="grid-column">
        <% (6..8).each do |i| %>
            <% if !@top16[i].nil? %>
                <div class="grid-thumb">
                  <a href="<%= submission_view_url(@top16[i].slug) %>">
                    <div class="grid grid-100 scale-25" style="background-image: url(<%= image_url(@top16[i].file_name) %>)">
                      <img src="<%= image_url(@top16[i].file_name) %>" alt="<%= @top16[i].title %>" class="faker-thumb">
                    </div>
                  </a>
                </div>
            <% end %>
        <% end %>
      </div>

      <!--Double Column-->

      <div class="grid-column double">
        <% if !@top16[9].nil? %>
            <div class="grid-thumb">
              <a href="<%= submission_view_url(@top16[9].slug) %>">
                <div class="grid grid-200 scale-25" style="background-image: url(<%= image_url(@top16[9].file_name) %>)">
                  <img src="<%= image_url(@top16[9].file_name) %>" alt="<%= @top16[9].title %>" class="faker-thumb">
                </div>
              </a>
            </div>
        <% end %>

        <% (10..11).each do |i| %>
            <% if !@top16[i].nil? %>
                <div class="grid-thumb">
                  <a href="<%= submission_view_url(@top16[i].slug) %>">
                    <div class="grid grid-100 scale-25" style="background-image: url(<%= image_url(@top16[i].file_name) %>)">
                      <img src="<%= image_url(@top16[i].file_name) %>" alt="<%= @top16[i].title %>" class="faker-thumb">
                    </div>
                  </a>
                </div>
            <% end %>
        <% end %>
      </div>

      <!--Triple Column-->

      <div class="grid-column triple">
        <% if !@top16[12].nil? %>
            <div class="grid-thumb">
              <a href="#">
                <div class="grid grid-300 scale-25" style="background-image: url(<%= image_url(@top16[12].file_name) %>)">
                  <img src="<%= image_url(@top16[12].file_name) %>" alt="<%= @top16[12].title %>" class="faker-thumb">
                </div>
              </a>
            </div>
        <% end %>
      </div>

      <!--Single Column-->

      <div class="grid-column">
        <% (13..15).each do |i| %>
            <% if !@top16[i].nil? %>
                <div class="grid-thumb">
                  <a href="<%= submission_view_url(@top16[i].slug) %>">
                    <div class="grid grid-100 scale-25" style="background-image: url(<%= image_url(@top16[i].file_name) %>)">
                      <img src="<%= image_url(@top16[i].file_name) %>" alt="<%= @top16[i].title %>" class="faker-thumb">
                    </div>
                  </a>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row header-row">
  <div class="art-block-header">
    <div class="art-block-inner">
      <div class="container">
        <div class="row">
          <h2>
            Most Popular
          </h2>
          <div class="art-block-down"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="container grid-display popular">
    <% (0..(@popular.count - 1)).each do |i| %>
        <% if i % 4 == 0 %>
            <div class="row">
              <div class="grid-thumb">
                <a href="<%= submission_view_url(@popular[i].slug) %>">
                  <div class="grid grid-uniform scale-25" style="background-image: url(<%= image_url(@popular[i].file_name) %>)">
                    <img src="<%= image_url(@popular[i].file_name) %>" alt="<%= @popular[i].title %>" class="faker-thumb">
                  </div>
                </a>
              </div>
        <% elsif i % 4 == 3 || i == (@popular.count - 1) %>
            <div class="grid-thumb">
              <a href="<%= submission_view_url(@popular[i].slug) %>">
                <div class="grid grid-uniform scale-25" style="background-image: url(<%= image_url(@popular[i].file_name) %>)">
                  <img src="<%= image_url(@popular[i].file_name) %>" alt="<%= @popular[i].title %>" class="faker-thumb">
                </div>
              </a>
            </div>
            </div>
        <% else %>
            <div class="grid-thumb">
              <a href="<%= submission_view_url(@popular[i].slug) %>">
                <div class="grid grid-uniform scale-25" style="background-image: url(<%= image_url(@popular[i].file_name) %>)">
                  <img src="<%= image_url(@popular[i].file_name) %>" alt="<%= @popular[i].title %>" class="faker-thumb">
                </div>
              </a>
            </div>
        <% end %>
    <% end %>
  </div>
</div>

<div class="row header-row">
  <div class="art-block-header">
    <div class="art-block-inner">
      <div class="container">
        <div class="row">
          <h2>
            Journals
          </h2>
          <div class="art-block-down"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="journal-table">
    <% @journals.each do |journal| %>
        <div class="col">
          <div class="avatar">
            <%= link_to (image_tag grabGravatar(journal.user.email)), user_view_path(journal.user.username) %>
          </div>
          <div class="data">
            <div class="title"><%= link_to journal.title, view_journal_path(journal.user.username, journal.id)%></div>
            by <%= link_to journal.user.username, view_user_path(journal.user.username) %>
          </div>
        </div>
    <% end %>
  </div>
</div>

<div class="row header-row">
  <div class="art-block-header">
    <div class="art-block-inner">
      <div class="container">
        <div class="row">
          <h2>
            New Users
          </h2>
          <div class="art-block-down"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="journal-table">
    <% @users.each do |user| %>
        <div class="col">
          <div class="avatar">
            <%= link_to (image_tag grabGravatar(user.email)), user_view_path(user.username) %>
          </div>
          <div class="data">
            <div class="title"><%= link_to user.username, user_view_path(user.username)%></div>
          </div>
        </div>
    <% end %>
  </div>
</div>

<div class="row header-row">
  <div class="art-block-header">
    <div class="art-block-inner">
      <div class="container">
        <div class="row">
          <h2>
            Trending Users
          </h2>
          <div class="art-block-down"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="journal-table">
    <% @popularUsers.each do |puser| %>
        <div class="col">
          <div class="avatar">
            <%= link_to (image_tag grabGravatar(puser.user.email)), user_view_path(puser.user.username) %>
          </div>
          <div class="data">
            <div class="title"><%= link_to puser.user.username, user_view_path(puser.user.username)%></div>
          </div>
        </div>
    <% end %>
  </div>
</div>