<div class="row">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <h5><strong>Agreement</strong></h5>
        <p>This agreement ("Agreement") between you as an individual artist or a legal authorized representative of an
          artist and BaraBox allowed you to access our service at your own will but you act in accordance to any rules,
          terms and policies given by BaraBox. These terms and agreement to them are subject to change with or without
          prior knowledge</p>
        <ol>
          <li><strong>Ownership of Art</strong>. Artist at all times hold and retain all rights, title and interest in any
            materials they provide and protected by BaraBox.
          </li>
          <li><strong>License to Use Materials</strong>. As and when materials are uploaded to BaraBox site(s), ("Artist")
            grants BaraBox a worldwide, royalty-free, non-exclusive license to do the follow with said materials:
            <ol>
              <li>to prepare and present any materials as part of a exhibition and various competitions with no monetary
                gain
              </li>
              <li>
                to display, copy, reproduce, exhibit, or use in advertisements for the community
              </li>
              <li>Artists understand that various competitions provided by BaraBox maybe forfeit theirs rights, interests
                and title to any material in some types of events, competitions
              </li>
            </ol>
          </li>
          <li><strong>Warranty</strong> We do not provide a warranty on our services or available of the platform meaning
            <ol>
              <li>We do not guarantee uninterupted or continuous service and available of the BaraBox site and any
                subsidiaries
              </li>
            </ol>
          </li>
          <li><strong>Third Party Liability</strong> We are not responsible for any third-parties who may use artist
            materials for their own purposes in the case of monetary gain or other forms such as plagarism on third-party
            sites. The ("Artist") shall be solely response for seeking any form of relief from any unauthorized use of
            materials by a third-party platform. You, the ("Artist") agree that you will not hold BaraBox liable for any
            unauthorized third-party usage. If in the case the ("Artist") does pursue relief from a third-party platform
            BaraBox will cooperate with the artist to provide information as needed.
          </li>
          <li><strong>Copyright</strong> BaraBox, its mascots and design are property of BaraBox. Other materials
            provided by BaraBox may also be copyright / trademarked by their proper owners and artists.
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>