<div class="row">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <h4><strong>Terms of Service</strong></h4>
        <strong>General Terms and Purpose</strong>
        <ol>
          <li><strong>Availability</strong>
            <ul>
              <li>The service is provided by BaraBox on an "AS IS" basis and BaraBox reserves the right to modify,
                suspend or discontinue the server at it's disrection at any time and without notice.
              </li>
            </ul>
          </li>
          <li><strong>Privacy</strong>
            <ul>
              <li>BaraBox holds a commitment to keeping your data and personal information private at all times, we will
                not provide this to any type of third-party provider nor for monetary gain.
              </li>
            </ul>
          </li>
          <li><strong>DMCA / Reporting</strong>
            <ul>
              <li>BaraBox respects the intellectual property of any artists or group, company, or third-party
                representing an artist. BaraBox may remove material at anytime with our without notice due to complaints
                because of copyright. We ("BaraBox") reserve the right to revoke your access to your account under any
                of these circumstances.
              </li>
            </ul>
          </li>
          <li><strong>Conduct & Etiquette</strong>
            <ul>
              <li>
                You agree that you shall note interfere with or disrupt this Service or server or networks connected to
                this server. BaraBox does not endorse any content placed on it's site(s) by third parties, nor do we
                share any opinions or advice contained in related content. You agree that BaraBox is not responsible for
                any claims of loss, claims or expenses incurred while using this service.
              </li>
            </ul>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>