<div class="container news-article-list">
  <h2>News Listing</h2>
  <% @articles.each do |article| %>
      <article>
        <div class="pull-left"><h3><%= link_to article.title, news_view_path(article.slug) %></h3>
          <small><%= dateFormat(article.created_at, '%B %d, %Y') %></small></div>
        <div class="round-circle-date pull-right" data-placement="left" data-toggle="tooltip" title="<%= dateFormat(article.created_at, '%B %d, %Y') %>">
          <h5><%= dateFormat(article.created_at, '%B') %></h5>
          <h6><%= dateFormat(article.created_at, '%Y') %></h6>
        </div>
        <div class="clearfix"></div>
      </article>
  <% end %>
</div>
