<div class="container">
  <div class="row">
    <div class="news-form-container">
      <%= form_for @article, url: {action: :create} do |f| %>
          <h3>Create News Article</h3>
          <hr>
          <div class="form-group">
            <%= f.label 'Title' %>
            <%= f.text_field :title, {:class => 'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.label 'Text' %>
            <%= f.text_area :text, {:class => 'form-control'} %>
          </div>
          <div class="form-group pull-right">
            <%= f.submit 'Post', {:class => 'btn btn-info'} %>
          </div>
          <div class="clearfix"></div>
      <% end %>
    </div>
  </div>
</div>