<div class="container news-show">
  <div class="row">
    <h3><%= @article.title %><br />
    <small>Written on <%= dateFormat(@article.created_at, '%B %d, %Y') %></small></h3>
    <div class="article-text" style="padding-top: 20px;">
      <%= simple_format(@article.text) %>
    </div>
  </div>
</div>