<div class="sidebar-settings">
  <h4>User Settings</h4>
  <ul>
    <li <%= isActive('user_settings', 'index') %>><%= link_to "Identity", user_settings_path %></li>
    <li <%= isActive('user_settings', 'personal') %>><%= link_to "Personal", user_settings_personal_path %></li>
    <li <%= isActive('user_settings', 'integration') %>><%= link_to "Integration", user_settings_integration_path %></li>
    <li <%= isActive('user_settings', 'deactivate') %>><a href="#">Deactivate Account</a></li>
  </ul>
</div>