<div class="container-fluid">
  <div class="row clearfix">
    <%= render 'user_settings/sidebar' %>
    <div class="settings-body">
      <div class="body-settings">
        <div class="settings-shell">
          <%= form_for :user_extend, :url => {:controller => "user_settings", :action => "avatarupdate"}, :html => {:multipart => true} do |f| %>
              <div class="settings-inner clearfix">
                <h4 class="settings-title">Avatar</h4>
                <div class="settings-grid left-preview">
                  <img src="<%= grabGravatar @current_user.email %>" alt="<%= @current_user.username %>" class="avatar">
                </div>
                <div class="settings-grid content">
                  <p>
                    Please choose your icon that you'll be recognized by on the site.
                    <br/>
                    We currently support two options for the time being:
                  <ul>
                    <li><a href="http://en.gravatar.com/">Gravatar</a>
                      <span>(Powered by WordPress and your email address.)</span></li>
                    <li>Local</li>
                  </ul>
                  </p>
                  <input type="file" id="avatar_file" style="visibility: hidden; display: none;" name="avatar_file" maxlength="500">
                  <a href="#" id="open_avatar_file_dlg" class="btn btn-info" onclick="return false;">Change Avatar</a>
                  <br/><br/>
                  <p>
                    <small>By uploading an avatar you accept the Terms of Service</small>
                  </p>
                  <div class="submit-btn pull-right">
                    <button type="submit">Submit</button>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>

      <div class="body-settings">
        <div class="settings-shell">
          <%= form_for :user_extend, :url => {:controller => "user_settings", :action => "signatureupdate"}, :html => {:multipart => true} do |f| %>
              <div class="settings-inner clearfix">
                <h4 class="settings-title">Signature</h4>
                <div class="settings-grid content full">
                  <p>
                    <small>This is your general signature that'll be displayed everytime you comment on something so
                      make sure
                      it's not too vulgar or something you might not want the public to see.
                    </small>
                  </p>
                  <%= f.text_area :signature, :value => @current_user.user_extend.signature %>
                  <div class="submit-btn pull-right">
                    <button type="submit">Submit</button>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>