<div class="container-fluid">
  <div class="row clearfix">
    <%= render 'user_settings/sidebar' %>
    <div class="settings-body">
      <div class="body-settings">
        <div class="settings-shell">
          <%= form_for :user_extend, :url => {:controller => "user_settings", :action => "integration_patch"}, :method => 'patch' do |f| %>
              <div class="settings-inner clearfix">
                <h4 class="settings-title">Integration</h4>
                <div class="settings-grid content full">
                  <div class="form-group">
                    <%= f.label "Patreon Username" %>
                    <%= f.text_field :patreon, :class => 'form-control', :value => @current_user.user_extend.patreon %>
                    <small>You can use our Patreon integration to automatically shown on a submission so less work you
                      have to do.
                    </small>
                  </div>
                  <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                </div>
              </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>