<div class="container-fluid">
  <div class="row clearfix">
    <%= render 'user_settings/sidebar' %>
    <div class="settings-body">
      <div class="body-settings">
        <div class="settings-shell">
          <%= form_for :user_extend, url: user_settings_personalinfo_update_path do |f| %>
              <div class="settings-inner clearfix">
                <h4 class="settings-title">Integration Info</h4>
                <div class="settings-grid content full">
                  <div class="form-horizontal ml20">
                    <div class="form-group form-inline">
                      <%= f.label "Name" %>
                      <%= f.text_field :fullname, :class => 'form-control', :value => @current_user.user_extend.fullname %>
                      <%= f.select :show_name, options_for_select([['Show', 1], ['Hide', 0]], selected: showName?), {}, {class: 'form-control'} %>
                    </div>
                    <div class="form-group form-inline">
                      <%= f.label :sex %>
                      <%= f.select :gender, options_for_select([['Male', 1], ['Female', 2]], selected: @current_user.user_extend.gender), {}, {class: 'form-control'} %>
                    </div>
                    <div class="form-group form-inline">
                      <%= f.label "Birthday" %>
                      <span><%= @current_user.user_extend.dob.strftime("%B %d, %Y") %></span>
                    </div>
                    <div class="form-group form-inline">
                      <%= f.label "Birthday Show?" %>
                      <%= f.select :show_dob, options_for_select([['Show', 1], ['Hide', 0]], selected: showBirthday?), {}, {class: 'form-control'} %>
                    </div>
                    <div class="form-group form-inline">
                      <%= f.label "Email" %>
                      <span><%= @current_user.email %></span>
                    </div>
                  </div>
                  <div class="submit-btn pull-right">
                    <button type="submit">Submit</button>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>