<div class="pagination center-block text-center">
  <% if @count > 0 %>
      <ul class="list-inline list-unstyled">
        <% if @currentPage > 0 %>
            <li><a href="?offset=<%= @previousPage %>"><i class="fa fa-step-backward"></i> Previous</a></li>
            <li><a href="?offset=<%= @startPage %>"><i class="fa fa-fast-backward"></i></a></li>
        <% end %>
        <% (@currentPage..@maxPages).each do |i| %>
            <% if i < @totalPages %>
                <li><a href="?offset=<%= i * @maxRecords %>">
                  <% if i == @currentPage %>
                      <strong><%= i + 1 %></strong>
                  <% else %>
                      <%= i + 1 %>
                  <% end %>
                </a></li>
            <% end %>
        <% end %>
        <% if @currentPage < @totalPages %>
            <li><a href="?offset=<%= @lastPage %>"><i class="fa fa-fast-forward"></i></a></li>
            <li><a href="?offset=<%= @nextPage %>">Next <i class="fa fa-step-forward"></i></a></li>
        <% end %>
      </ul>
  <% end %>
</div>