<% if @submission.patreon %>
    <h5 class="text-center"><strong>Support me on Patreon</strong></h5>
    <div id="patreon-integration">
      <a href="<%= patreon(@submission.user) %>" target="_blank">
        <%= image_tag 'network-apps/bmpop.png' %>
      </a>
    </div>
<% end %>

<% if logged_in? && @current_user.id != @submission.user.id %>
    <% if @submission.favourites_users.where(user_id: @current_user.id).empty? %>
        <%= link_to submission_favourite_path(@submission.slug), :class => 'btn btn-fav', :role => 'button', method: 'patch' do %>
            <i class="fa fa-star"></i><span>Add To Favourites</span>
        <% end %>
    <% else %>
        <%= link_to submission_favourite_path(@submission.slug), :class => 'btn btn-fav toggled', :role => 'button', method: 'patch' do %>
            <i class="fa fa-star"></i><span>Add To Favourites</span>
        <% end %>
    <% end %>
<% end %>

<%= link_to @download, :class => 'btn btn-cloud', :id => 'downloadSubmission', 'data-id' => @submission.id, 'data-url' => api_submission_download_url(@submission.id) do %>
    <i class="fa fa-cloud-download"></i><span>Download</span>
<% end %>

<div class="metainfo">
  <h4 class="metainfo-heading"><strong>Details</strong></h4>
  <dl>
    <dt>Submitted on</dt>
    <dd><span><%= time_ago_in_words(@submission.created_at) %> ago</span></dd>
    <dt>Size</dt>
    <dd><span><%= number_to_human_size(@submission.size) %></span></dd>
    <dt>Resolution</dt>
    <dd><span><%= @resolution[0] + 'x' + @resolution[1] %></span></dd>
  </dl>
</div>

<div class="sp center-block">
  <div class="spi"></div>
</div>

<div class="metainfo">
  <h4 class="metainfo-heading"><strong>Stats</strong></h4>
  <dl>
    <dt>Views</dt>
    <dd><span><%= @submission.views %></span></dd>
    <dt>Favourites</dt>
    <dd><span><%= @submission.favourites %></span></dd>
    <dt>Comments</dt>
    <dd><span><%= @submission.comments %></span></dd>
    <dt>Downloads</dt>
    <dd><span><%= @submission.downloads %></span></dd>
  </dl>
</div>

<div class="sp center-block">
  <div class="spi"></div>
</div>

<!--<div class="report-area">-->
<!--<a href="#"><i class="fa fa-exclamation-triangle"></i> Report</a>-->
<!--</div>-->

<% if logged_in? %>
    <%= link_to submission_report_path(@submission.slug), :class => 'btn btn-report' do %>
        <i class="fa fa-exclamation-triangle"></i><span>Report</span>
    <% end %>
<% end %>