<h3>Submission</h3>
<div class="submission-mb">
  <%= form_for(:submission, url: submission_upload_url, :html => {:id => 'submission-form', :class => 'form', :multipart => true}) do |f| %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      <div class="main-body">
        <h4>Creation</h4>
        <div class="submission-container">
          <div class="center-block text-center">
            <div>
              <canvas id="imgthumbcanvas" style="display: none;"></canvas>
            </div>
            <%= f.file_field :submission_image, :class => 'hide', :id => 'file-upload-select' %>
            <a href="#" id="upload-file" class="btn btn-lg btn-choose-file" role="button">Choose
              a File Upload</a>
            <div class="rating clearfix center-block text-center">
              <div class="rating-label">Contains adult material?</div>
              <div class="rating-select">
                <label class="radio-inline">
                  <!--<input type="radio" value="r18" name="rating"> Yes-->
                  <%= f.radio_button :rating, 'r18' %> Yes
                </label>
                <label class="radio-inline">
                  <!--<input type="radio" value="general" name="rating"> No-->
                  <%= f.radio_button :rating, 'general' %> No
                </label>
                <span class="label label-danger">(Required)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="content-information-input">
          <div class="header">
            <%= f.text_field :title, :placeholder => 'Title', :class => 'form-control' %>
          </div>
          <div class="body">
            <%= f.text_area :description, :class => 'form-control', :id => 'tb_description' %>
            <div class="tagsarea">
              <%= f.text_field :tags, :class => 'form-control', :id => 'tags' %>
              <small>Seperate your tags with <kbd>,</kbd> or <kbd>return</kbd> / <kbd>enter</kbd></small>
            </div>
          </div>
        </div>

        <h4>Filters</h4>
        <div class="content-information-input">
          <div class="checkbox-filters">
            <div>
              <label data-toggle="tooltip" data-placement="top" title="Includes blood, violence, horror, things that may be considered inappropriate by sensitive views.">
                <%= check_box :filter, "violence" %> Violence
              </label>
            </div>
            <div>
              <label data-toggle="tooltip" data-placement="top" title="Includes scenes where tabacoo, alcohol, stimulants, narcotics or presciprtion drugs are used, implied, or paraphernalia or analogous to any of the above are used.">
                <%= check_box :filter, "drugs" %> Drugs, smoking, alcoholism
              </label>
            </div>
            <div>
              <label data-toggle="tooltip" data-placement="top" title="Includes discriminatory language, conversation and content not suitable for minors, or opinion that may cause discomfort to viewers.">
                <%= check_box :filter, "language" %> Strong language / Sensitive Themes
              </label>
            </div>
            <div>
              <label data-toggle="tooltip" data-placement="top" title="Includes depictions of criminal acts, torture, sex crimes, prostitution, suicide/self-injury.">
                <%= check_box :filter, "crime" %> Criminal acts
              </label>
            </div>
            <div>
              <label data-toggle="tooltip" data-placement="top" title="Includes animals with human-like characteristics and personalities.">
                <%= check_box :filter, "furry" %> Furry
              </label>
            </div>
          </div>
        </div>

        <h4>Club Selection</h4>
        <% @current_user.clubs.each do |club| %>
            <a href="#" class="club-select" onclick="return false" data-club-id="<%= club.id %>">
              <%= f.check_box "club[#{club.id}]", {:class => 'hide', 'data-id' => club.id}, club.id, nil %>
              <div class="club-img pull-left" style="background-image: url(<%= club.club_extend.avatar %>)">
                <img src="" alt="" width="1" height="1">
              </div>
              <span class="pull-left club-name"><%= club.name %></span>
              <span class="clearfix"></span>
            </a>
        <% end %>

        <div class="clearfix"></div>
        <p style="margin-top: 10px;">
          Please read our <strong><%= link_to "Submissions Policy", submission_policy_path, :target => '_blank' %></strong>,
          <strong><%= link_to "Terms of Service", terms_policy_path, :target => '_blank' %></strong>, and
          <strong><%= link_to "Art Acceptance Agreement", art_agreement_path, :target => '_blank' %></strong> before uplading any materials
        </p>

        <button type="submit" class="submission-submit-btn">Submit</button>
      </div>
      <div class="right-apps">
        <h4>Apps</h4>
        <% if !@current_user.user_extend.patreon.blank? %>
            <a href="#" onclick="return false">
              <div class="apps disabled" id="patreon">
                <%= f.check_box :patreon, {:checked => false, :class => 'hide'}, false %>
                <%= image_tag "network-apps/bmpop.png" %>
                <p>
                  <small>You can show that you are connected to Patreon and allow users to become your patron @ patreon.
                    This
                    makes it easier to apply the logo to your submission so you don't have to fill in the information
                    everytime.
                  </small>
                </p>
              </div>
            </a>
        <% end %>
      </div>
  <% end %>
</div>