<%= form_for :report_submission, url: submission_submitreport_path(@s.slug) do |f| %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="pull-left">
          <h4>Reporting Submission <%= @s.title %></h4>
        </div>
        <div class="pull-right">
          <h5>
            Created by <%= link_to @s.user.username, view_user_path(@s.user.username) %>
            <br/>
            <small>On <%= @s.created_at.strftime("%c") %></small>
          </h5>
        </div>
        <div class="clearfix"></div>
        <hr>

        <div class="center-block text-center report-image-view">
          <%= image_tag @s.file_name %>
        </div>

        <h3>Why are you reporting this image ?</h3>
        <div class="form-group">
          <%= f.text_area :report_desc, :class => 'form-control', :required => 'required' %>
        </div>

        <h3>Please check all that apply:</h3>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <%= f.check_box 'reason[adult_filter]', {}, '1', '0' %> Missing Adult Filter
            </label>
          </div>
          <div class="checkbox">
            <label>
              <%= f.check_box 'reason[shota]', {}, '1', '0' %> Contains Shota
            </label>
          </div>
          <div class="checkbox">
            <label>
              <%= f.check_box 'reason[female]', {}, '1', '0' %> Contains Female in Sexual Activity
            </label>
          </div>
          <div class="checkbox">
            <label>
              <%= f.check_box 'reason[stolen]', {}, '1', '0' %> Stolen Artwork
            </label>
          </div>
          <div class="checkbox">
            <label>
              <%= f.check_box 'reason[ip]', {}, '1', '0' %> Intellectual Property
            </label>
          </div>
          <div class="checkbox">
            <label>
              <%= f.check_box 'reason[dmca]', {}, '1', '0' %> DMCA Request
            </label>
          </div>
          <div class="checkbox">
            <label>
              <%= f.check_box 'reason[other]', {}, '1', '0' %> Other
            </label>
          </div>
        </div>
        <p>
          <strong>By submitting this report, you verify that this report was made with good conscience. If you are found
            to be
            submission reports without found reasons you will be penalized which may lead up to a warning, ban or
            perma-ban
            from the site.</strong>
        </p>
        <%= f.submit "Send Report", :class => 'btn btn-submit-report pull-right' %>
      </div>
    </div>
<% end %>