<div class="submission-content">
  <div class="main-content">
    <!--<img src="" class="submission-image" data-irid="" data-cirid="">-->
    <div id="image-cell" class="center-block text-center">
      <%= image_tag @submission.file_name %>
    </div>
    <div id="submission-content-data">
      <div class="avatar pull-left">
        <%= image_tag grabGravatar @submission.user.email %>
      </div>
      <div class="data pull-left">
        <h3><%= link_to @submission.title, submission_view_url(@submission.slug) %></h3>
        <h4>by <%= link_to @submission.user.username, user_view_url(@submission.user.username) %></h4>
        <div>
          <small>&copy; <%= @submission.created_at.year %> <%= @submission.user.username %></small>
        </div>
        <ul class="list-inline pull-left">
          <% @tags.each do |tag| %>
              <li class="submission-tags-list"><%= link_to "#" + tag, search_tag_url(tag) %></li>
          <% end %>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
      <div class="submission-description-case">
        <div class="submission-description">
          <%= simple_format(@submission.description) %>
        </div>
      </div>
    </div>
    <div class="comment">
      <div>
        <small>
          <%= link_to @submission.user.username, user_view_url(@submission.user.username) %> -
          Add Comment :
        </small>
      </div>
      <div>
        <div class="comment-new">
          <%= form_for :submission_comments, url: submission_addcomment_path, method: 'post' do |f| %>
              <%= f.hidden_field :submission_id, :value => @submission.id %>
              <div class="avatar">
                <%= image_tag grabGravatar @submission.user.email %>
              </div>
              <div class="comment">
                <div class="comment-arrow-left"></div>
                <%= f.text_area :comment, :class => 'form-control comments-textarea' %>
              </div>
              <div class="pull-right">
                <button type="submit">Post Comment</button>
              </div>
          <% end %>
        </div>
      </div>
      <div class="comments-list">
        <% @comments.each do |comment| %>
            <div class="comment-display clearfix" data-id="comment-<%= comment.id %>" id="comment-<%= comment.id %>">
              <div class="avatar">
                <%= image_tag grabGravatar comment.user.email %>
              </div>
              <div class="comment-block">
                <div class="left-arrow"></div>
                <div class="text">
                  <small class="pull-right">#<%= comment.id %></small>
                  <h5>
                    <%= link_to comment.user.username, user_view_url(comment.user_id) %><br />
                    <small data-toggle="tooltip" data-placement="top" title="<%= time_ago_in_words(comment.created_at) %> ago"><%= comment.created_at.strftime('%b %d, %Y') %></small>
                  </h5>
                  <div class="comment-data" data-id="<%= comment.id %>">
                    <%= simple_format comment.comment %>
                    <a href="#" data-comment-id="<%= comment.id %>" class="comment-read-more center-block text-center reveal-comment hide">Read More</a>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
      <%= render 'submission/pagination' %>
    </div>
  </div>
  <div class="sidebar-content">
    <%= render 'submission/sidebar' %>
  </div>
  <div class="sidebar-bg"></div>
  <div class="clearfix"></div>
</div>