<div class="row userpage">
  <%= render('user/userheader') %>

  <div class="half-split-container clearfix">
    <div class="half-ll">
      <div class="wrapper">
        <div class="header">
          <h5><strong>Create a Journal</strong></h5>
          <div class="ad-8"></div>
        </div>
        <% if ownsPage? %>
            <%= form_for :journal, url: update_journal_path(@user.username, @journal.id), method: 'patch' do |f| %>
                <% flash.each do |key, value| %>
                    <%= content_tag :div, value, class: "alert alert-#{key}" %>
                <% end %>
                <div class="form-group">
                  <%= f.label "Journal Title" %>
                  <%= f.text_field :title, :class => 'form-control', :placeholder => 'Enter a Journal Title' %>
                </div>
                <div class="form-group">
                  <%= f.label "Text" %>
                  <%= f.text_area :text, :class => 'form-control', :placeholder => 'Enter Journal Text' %>
                </div>
                <%= f.submit 'Post Journal', :class => 'gg-btn' %>
            <% end %>
        <% else %>
            <div style="padding: 20px;" class="center-block text-center">
              <i class="fa fa-exclamation-triangle fa-5x"></i>
              <h3>You do not have the permissions to do this!</h3>
            </div>
        <% end %>
      </div>
    </div>
    <div class="half-lr">
      <div class="full-wrapper">
        <div class="header">
          <h2><%= @journal.title %></h2>
          <small>Created by <%= link_to @user.username, view_user_path(@user.username) %>
            , <%= @journal.created_at.strftime('%B %d, %Y, %I:%M %p') %></small>
        </div>
        <div class="text">
          <%= simple_format @journal.text %>
        </div>
      </div>
    </div>
  </div>
</div>