<div class="row userpage">
  <%= render('user/userheader') %>

  <div class="half-split-container clearfix">
    <div class="full-wrapper">
      <div class="header">
        <h2><%= @journal.title %></h2>
        <small>Created by <%= link_to @user.username, view_user_path(@user.username) %>
          , <%= @journal.created_at.strftime('%B %d, %Y, %I:%M %p') %></small>
      </div>
      <div class="text">
        <%= simple_format @journal.text %>
      </div>
    </div>
    <br/>

    <% if logged_in? %>
        <div class="gen-container" id="comments">
          <div class="header">Leave a Comment
            <div class="arrow-down"></div>
          </div>
        </div>
        <div class="comment">
          <div class="comment-new">
            <%= form_for :journal_comment, url: comment_journal_path(@journal.id), method: 'post' do |f| %>
                <%= f.hidden_field :journal_id, :value => @journal.id %>
                <%= f.hidden_field :username, :value => @user.username %>
                <div class="avatar">
                  <%= image_tag grabGravatar(@current_user.email) %>
                </div>
                <div class="comment">
                  <div class="comment-arrow-left"></div>
                  <%= f.text_area :comment, :class => 'form-control comments-textarea' %>
                </div>
                <div class="pull-right">
                  <button type="submit">Post Comment</button>
                </div>
            <% end %>
          </div>
        </div>
    <% end %>

    <div class="comments-list">
      <% @comments.each do |comment| %>
          <div class="comment-display clearfix">
            <div class="avatar">
              <%= image_tag grabGravatar(comment.user.email) %>
            </div>
            <div class="comment-block">
              <div class="left-arrow"></div>
              <div class="text">
                <h5>
                  <%= link_to comment.user.username, user_view_url(comment.user_id) %>
                  <small data-toggle="tooltip" data-placement="top" title="<%= time_ago_in_words(comment.created_at) %> ago"><%= comment.created_at.strftime('%b %d, %Y') %></small>
                </h5>
                <p class="comment-data">
                  <%= comment.text %>
                </p>
              </div>
            </div>
          </div>
      <% end %>
    </div>

    <%= render 'submission/pagination' %>

  </div>
</div>