<div class="tabs">
  <ul>
    <li <%= activePage?('user', 'view') %>><a href="<%= user_view_path(@user.username) %>">Profile</a></li>
    <li <%= activePage?('user', 'gallery') %>><a href="<%= view_gallery_path(@user.username) %>">Gallery</a></li>
    <li <%= activePage?('poll', 'polls') %>><a href="<%= view_polls_path(@user.username) %>">Polls</a></li>
    <li <%= activePage?('journal', 'index') || activePage?('journal', 'view') || activePage?('journal', 'edit') %>>
      <a href="<%= view_journals_path(@user.username) %>">Journal</a></li>
    <li><a href="<%= view_favourites_path(@user.username) %>">Favourites</a></li>
    <li <%= activePage?('stats', 'index') %>><a href="<%= view_stats_path(@user.username) %>">Stats</a></li>
  </ul>
</div>