<div class="user-header clearfix">
  <div class="avatar">
    <%= link_to view_user_path(@user.username) do %>
        <%= image_tag grabGravatar(@user.email), :class => 'avatar-80' %>
    <% end %>
  </div>
  <div class="naming-block">
    <h3><%= @user.username %><br/>
      <small>Random Title</small>
    </h3>
  </div>
  <%= render('user/tabs') %>
  <% if logged_in? && @current_user.id != @user.id %>
      <div class="pull-left">
        <%= link_to '', :class => 'btn btn-message btn-fl toggled', :role => 'button', :id => 'sendMessage', 'data-username' => @user.username, 'data-toggle' => 'modal', 'data-target' => '#send-message-modal' do %>
            <i class="fa fa-sticky-note"></i><span>New Note</span>
        <% end %>
      </div>
      <div class="pull-right mr-20">
        <% if @current_user.user_watches.where('user_id = ? and uid = ?', @current_user.id, @user.id).count > 0 %>
            <%= link_to watch_user_path(@user.username), :class => 'btn btn-watch btn-fl toggled', :role => 'button' do %>
                <i class="fa fa-heart"></i><span>Watching</span>
            <% end %>
        <% else %>
            <%= link_to watch_user_path(@user.username), :class => 'btn btn-watch btn-fl', :role => 'button' do %>
                <i class="fa fa-heart"></i><span>Watch</span>
            <% end %>
        <% end %>
        <% if @current_user.blacklists.where('user_id = ? and blacklist_user_id = ?', @current_user.id, @user.id).count > 0 %>
            <%= link_to blacklist_user_path(@user.username), :class => 'btn btn-blacklist btn-fl toggled', :role => 'button' do %>
                <i class="fa fa-square"></i><span>Unblock</span>
            <% end %>
        <% else %>
            <%= link_to blacklist_user_path(@user.username), :class => 'btn btn-blacklist btn-fl', :role => 'button' do %>
                <i class="fa fa-square"></i><span>Block</span>
            <% end %>
        <% end %>
      </div>
      <div class="clearfix"></div>
  <% end %>
</div>

<% if logged_in? %>
    <div id="send-message-modal" class="modal fade" tabindex="-1" role="dialog">
      <%= form_for :message, url: send_message_path do |f| %>
          <%= f.hidden_field :uid, :value => @current_user.id %>
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Send Message</h4>
              </div>
              <div class="modal-body">

                <div class="form-group">
                  <%= f.text_field :recipient, :class => 'form-control', :value => @user.username, :readonly => 'readonly' %>
                </div>
                <div class="form-group">
                  <%= f.text_field :title, :class => 'form-control', :placeholder => 'Title' %>
                </div>
                <div class="form-group">
                  <%= f.text_area :text, :class => 'form-control' %>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Send</button>
              </div>
            </div>
          </div>
      <% end %>
    </div>
<% end %>