<div class="row userpage">
  <%= render('user/userheader') %>

  <div id="gallery-page" class="clearfix" style="padding: 0 0 0 20px;">
    <div class="display" style="width: 100%;">
      <h4>Favourites</h4>
      <div class="gallery-container">
        <% @favourites.each do |favourite| %>
            <div class="gallery-image-container">
              <%= link_to submission_view_url(favourite.submission.slug) do %>
                  <div class="image-container" style="background-image: url(<%= favourite.submission.file_name %>);">
                    <img src="<%= favourite.submission.file_name %>" alt="<%= favourite.submission.title %>">
                  </div>
                  <div class="gallery-links text-center">
                    <h5><%= favourite.submission.title %></h5>
                    <i class="fa fa-comments"></i><%= pluralize?("Comment", favourite.submission.comments) %>
                  </div>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>