<div class="row userpage">
  <%= render('user/userheader') %>

  <div id="gallery-page" class="clearfix">
    <div class="folders">
      <h4>Folders</h4>
      <div class="folder-container">
      </div>
    </div>
    <div class="display">
      <h4>Gallery</h4>
      <div class="gallery-container">
        <% @gallery.each do |gallery| %>
            <div class="gallery-image-container">
              <%= link_to submission_view_url(gallery.slug) do %>
                  <div class="image-container" style="background-image: url(<%= gallery.file_name %>);">
                    <img src="<%= gallery.file_name %>" alt="<%= gallery.title %>">
                  </div>
                  <div class="gallery-links text-center">
                    <h5><%= gallery.title %></h5>
                    <i class="fa fa-comments"></i><%= pluralize?("Comment", gallery.comments) %>
                  </div>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>