<div class="row userpage">
  <%= render('user/userheader') %>

  <div class="container-fluid user-profile-data">
    <div class="art-display">
      <% if @last5.count > 0 %>
          <% @last5.each do |last| %>
              <div class="user-space-container">
                <div class="user-space-header">
                  <div class="user-space-arrow-down"></div>
                  <strong><%= last.title %></strong>
                </div>
                <div class="user-space-body">
                  <a href="<%= submission_view_url(last.slug) %>">
                    <%= image_tag last.file_name, :class => 'center-block' %>
                    <span class="center-block text-center">
                  <i class="fa fa-comments"></i><%= pluralize?("Comment", last.comments) %>
                </span>
                  </a>
                </div>
              </div>
          <% end %>
      <% else %>
          <div class="user-space-container"></div>
      <% end %>
    </div>

    <div class="journal-display-misc">
      <% if !@journal.nil? || !@journal.blank? %>
          <div class="journal-container">
            <div class="journal-header">
              <h2><%= link_to @journal.title, view_journal_path(@user.username, @journal.id) %></h2>
          <span>by <%= link_to @journal.user.username, view_user_path(@journal.user.username) %>
            , <%= @journal.created_at.strftime('%b %d, %Y, %I:%m %p') %></span>
            </div>
            <div class="journal-body">
              <%= simple_format(@journal.text) %>
            </div>
          </div>
          <div class="journal-footer">
            <div class="links clearfix">
              <div class="pull-left">
                <h5><%= link_to @journal.title, view_journal_path(@user.username, @journal.id) %></h5>
                <div>
                  <%= link_to view_journal_path(@journal.user.username, @journal.id) do %>
                      <i class="fa fa-comments"></i><%= pluralize?('Comment', @journal.journal_comments.count) %>
                  <% end %>
                </div>
              </div>
              <div class="pull-right">
                <strong><%= @journal.created_at.strftime('%b %d, %Y') %></strong>
              </div>
            </div>
            <a href="<%= view_journals_path(@user.username) %>" class="text-center center-block view-journals">View
              Journals</a>
          </div>
      <% end %>

      <div class="gen-container" id="userinfo">
        <div class="header">Profile ID
          <div class="arrow-down"></div>
        </div>
        <div class="inner">
        </div>
      </div>

      <div class="gen-container" id="comments">
        <div class="header">Comments
          <div class="arrow-down"></div>
        </div>
      </div>
      <div class="comment">
        <div>
          <div class="comment-new">
            <%= form_for :submission_comments, url: submission_addcomment_path, method: 'post' do |f| %>
                <%= f.hidden_field :user_id, :value => @user.id %>
                <div class="avatar">
                  <%= image_tag grabGravatar(@user.email) %>
                </div>
                <div class="comment">
                  <div class="comment-arrow-left"></div>
                  <%= f.text_area :comment, :class => 'form-control comments-textarea' %>
                </div>
                <div class="pull-right">
                  <button type="submit">Post Comment</button>
                </div>
            <% end %>
          </div>
        </div>
        <div class="comments-list">
          <% @comments.each do |comment| %>
              <div class="comment-display clearfix">
                <div class="avatar">
                  <%= image_tag grabGravatar comment.user.email %>
                </div>
                <div class="comment-block">
                  <div class="left-arrow"></div>
                  <div class="text">
                    <h5>
                      <%= link_to comment.user.username, user_view_url(comment.user.username) %>
                      <small data-toggle="tooltip" data-placement="top" title="<%= time_ago_in_words(comment.created_at) %> ago"><%= comment.created_at.strftime('%b %d, %Y') %></small>
                    </h5>
                    <p class="comment-data">
                      <%= comment.comment %>
                    </p>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
        <%= render 'submission/pagination' %>
      </div>
    </div>
  </div>
</div>