$btnfavcf: #a4b2a4;
$btnfavc: #8E988E;
$btnfavcb: #646e64;

.btn-fav {
  @include background-image(linear-gradient(top, lighten($btnfavc, 20%) 0%, lighten($btnfavc, 20) 2%, $btnfavc 2%, darken($btnfavc, 20) 100%));
  color: $btnfavcf;
  text-decoration: none;
  border: 1px solid $btnfavcb;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px 8px;
  span {
    position: relative;
    top: -3px;
  }
  i {
    margin-right: 8px;
    font-size: 25px;
    @include background-image(linear-gradient(top, #FFD700, #FF8B1E));
    @include background-clip(text);
    -webkit-text-fill-color: transparent;
    font-weight: 100;
  }
  &.toggled {
    i {
      @include background-image(linear-gradient(top, #FF8B1E, #FFD700));
      @include background-clip(text);
      -webkit-text-fill-color: transparent;
      font-weight: 100;
    }
  }
}

.btn-cloud {
  @include background-image(linear-gradient(top, lighten($btnfavc, 20%) 0%, lighten($btnfavc, 20) 2%, $btnfavc 2%, darken($btnfavc, 20) 100%));
  color: $btnfavcf;
  text-decoration: none;
  border: 1px solid $btnfavcb;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px 8px;
  span {
    position: relative;
    top: -3px;
  }
  i {
    margin-right: 8px;
    font-size: 25px;
    @include background-image(linear-gradient(top, #b1faff, #5abdff));
    @include background-clip(text);
    -webkit-text-fill-color: transparent;
    font-weight: 100;
  }
  &.toggled {
    i {
      @include background-image(linear-gradient(top, #5abdff, #b1faff));
      @include background-clip(text);
      -webkit-text-fill-color: transparent;
      font-weight: 100;
    }
  }
}

.btn-report {
  @include background-image(linear-gradient(top, lighten($btnfavc, 20%) 0%, lighten($btnfavc, 20) 2%, $btnfavc 2%, darken($btnfavc, 20) 100%));
  color: $btnfavcf;
  text-decoration: none;
  border: 1px solid $btnfavcb;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 10px 8px;
  span {
    position: relative;
    top: -3px;
  }
  i {
    margin-right: 8px;
    font-size: 25px;
    @include background-image(linear-gradient(top, #ffa85b, #fb0016));
    @include background-clip(text);
    -webkit-text-fill-color: transparent;
    font-weight: 100;
  }
  &.toggled {
    i {
      @include background-image(linear-gradient(top, #fb0016, #ffa85b));
      @include background-clip(text);
      -webkit-text-fill-color: transparent;
      font-weight: 100;
    }
  }
}

.btn-watch {
  @include background-image(linear-gradient(top, lighten($btnfavc, 20%) 0%, lighten($btnfavc, 20) 2%, $btnfavc 2%, darken($btnfavc, 20) 100%));
  color: $btnfavcf;
  text-decoration: none;
  border: 1px solid $btnfavcb;
  font-size: 11px;
  font-weight: bold;
  margin: 10px 0 10px 8px;
  span {
    position: relative;
    top: -2px;
  }
  i {
    margin-right: 8px;
    font-size: 15px;
    @include background-image(linear-gradient(top, #ff8986, #fb514c));
    @include background-clip(text);
    -webkit-text-fill-color: transparent;
    font-weight: 100;
  }
  &.toggled {
    i {
      @include background-image(linear-gradient(top, #fb514c, #ff8986));
      @include background-clip(text);
      -webkit-text-fill-color: transparent;
      font-weight: 100;
    }
  }
}

.btn-blacklist {
  @include background-image(linear-gradient(top, lighten($btnfavc, 20%) 0%, lighten($btnfavc, 20) 2%, $btnfavc 2%, darken($btnfavc, 20) 100%));
  color: $btnfavcf;
  text-decoration: none;
  border: 1px solid $btnfavcb;
  font-size: 11px;
  font-weight: bold;
  margin: 10px 0 10px 8px;
  span {
    position: relative;
    top: -2px;
  }
  i {
    margin-right: 8px;
    font-size: 15px;
    @include background-image(linear-gradient(top, #2db0d1, #195176));
    @include background-clip(text);
    -webkit-text-fill-color: transparent;
    font-weight: 100;
  }
  &.toggled {
    i {
      @include background-image(linear-gradient(top, #195176, #2db0d1));
      @include background-clip(text);
      -webkit-text-fill-color: transparent;
      font-weight: 100;
    }
  }
}

.btn-message {
  @include background-image(linear-gradient(top, lighten($btnfavc, 20%) 0%, lighten($btnfavc, 20) 2%, $btnfavc 2%, darken($btnfavc, 20) 100%));
  color: $btnfavcf;
  text-decoration: none;
  border: 1px solid $btnfavcb;
  font-size: 11px;
  font-weight: bold;
  margin: 10px 0 10px 8px;
  span {
    position: relative;
    top: -2px;
  }
  i {
    margin-right: 8px;
    font-size: 15px;
    @include background-image(linear-gradient(top, #FFD700, #FF8B1E));
    @include background-clip(text);
    -webkit-text-fill-color: transparent;
    font-weight: 100;
  }
  &.toggled {
    i {
      @include background-image(linear-gradient(top, #FF8B1E, #FFD700));
      @include background-clip(text);
      -webkit-text-fill-color: transparent;
      font-weight: 100;
    }
  }
}

.mr-20 {
  margin-right: 20px;
}

.btn-fl {
  float: left;
  width: 100px;
}