@import "compass";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$white: #ffffff;
$black: #000000;
$color1: #bfc3ba; //rgba(191, 195, 186, 100)
$color2: #a9aca9; //rgba(169, 172, 169, 100)
$color3: #60495a; //rgba(96, 73, 90, 100)
$color4: #3f3244; //rgba(63, 50, 68, 100)
$color5: #2f2235; //rgba(47, 34, 53, 100)
$color6: #A393BF;
$color7: #9882AC;
$color8: #FFA737;
$color9: #DC851F;
$color10: #7E5920;
$color11: #58B09C;
$color12: #386150;
$color13: #CAF7E2;

$button00: #b0e5f2;
$button01: #3accf4;
$button02: #0361A0;

@import "summernote";

@import "buttons";

@import "index";
@import "user_settings";
@import "submission";
@import "tags";
@import "user";
@import "poll";
@import "journal";
@import "stats";
@import "admin";
@import "notifications";
@import "news";
@import "clubs";

body {
  background: $color1;
  font-family: 'Lato', sans-serif;
}

.navbar-default {
  .navbar-brand {
    font-weight: 100;
    color: lighten($color3, 40);
    &:hover {
      color: $white;
    }
    img {
      width: 30px;
      height: 30px;
      margin-top: -5px;
      padding-right: 5px;
    }
  }
  background: $color3;
  border: none;
  .navbar-nav > .active > a {
    color: $white;
    background-color: lighten($color3, 10);
    &:hover {
      color: $white;
      background-color: lighten($color3, 12);
    }
  }
  .navbar-nav > .open > a {
    color: $white;
    background-color: darken($color3, 10);
    &:hover, &:active, &:focus {
      color: $white;
      background-color: $color4;
    }
  }
  .navbar-main {
    li > a {
      font-weight: 100;
      font-size: 11px;
      text-transform: uppercase;
      padding: 8px;
      margin: 9px;
    }
    .btn-submit {
      @include background-image(linear-gradient(top, $color3, $color4));
      border: 1px solid lighten($color3, 20);
    }
  }
  .navbar-nav {
    li > a {
      color: lighten($color3, 40);
      &:hover {
        color: $white;
      }
    }
    li > .dropdown-menu {
      background: $color4;
      .divider {
        background-color: lighten($color3, 30);
      }
      li a {
        color: $white;
        &:hover, &:active, &:focus {
          background-color: lighten($color4, 10);
          color: $white;
        }
      }
    }
  }

  .navbar-right {
    background-color: darken($color3, 2);
  }

  .container-fluid {
    padding-right: 0;
  }

  .dropdown-menu {
    i {
      padding-right: 10px;
    }
  }
}

#messaging {
  i {
    padding-right: 10px;
  }
  li > a > small {
    padding-left: 10px;
  }
}

.dropdown-menu > form {
  padding: 10px;
  label {
    color: lighten($color4, 20);
    width: 300px;
  }
}

.btn-gradient {
  @include background-image(linear-gradient(top, $color8, $color9));
  border: $color10;
  width: 80px;
  text-align: center;
  font-size: 11px;
  color: $white;
  padding: 0;
  margin: 0;
  font-weight: 100;
  &:hover, &:focus, &:active {
    @include background-image(linear-gradient(top, $color8, $color9));
    color: $white;
  }
  span {
    @include border-radius(5px);
    display: block;
    border-top: 1px solid lighten($color8, 20);
    width: 100%;
    padding: 5px 20px;
    &:hover, &:focus, &:active {
      color: $white
    }
  }
}

.btn-gradient-mint {
  @include background-image(linear-gradient(top, $color11, $color12));
  border: darken($color12, 30);
  width: 80px;
  text-align: center;
  font-size: 11px;
  color: $white;
  padding: 0;
  margin: 0;
  font-weight: 100;
  &:hover, &:focus, &:active {
    @include background-image(linear-gradient(top, $color11, $color12));
    color: $white;
  }
  span {
    @include border-radius(5px);
    display: block;
    border-top: 1px solid $color13;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    &:hover, &:focus, &:active {
      color: $white
    }
  }
}

.lrg {
  padding: 6px 12px;
}

.navbar {
  @include border-radius(0);

  img.avatar-icon-sm {
    width: 25px;
    height: 25px;
  }
}

// Modal
.modal-header {
  border: none;
}

.modal-body {
  padding: 20px 50px;
}

.dob {
  select {
    margin-bottom: 5px;
  }
}

.avatar-80 {
  width: 80px;
  height: 80px;
}

.avatar-80-mr {
  margin-right: 10px;
  img {
    width: 80px;
    height: 80px;
  }
}

.mr5 {
  margin-right: 5px;
}

.btn {
  &.include {
    i {
      margin-right: 5px;
    }
  }
}