// Place all the styles related to the clubs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.club-avatar {
  position: relative;
  i {
    &.fa-circle {
      float: left;
      top: 0;
      left: 0;
      bottom: 0;
      color: darken($color1, 10);
      font-size: 120px;
    }
    &.fa-user {
      position: absolute;
      float: left;
      top: 9px;
      left: 15px;
      bottom: 0;
      color: lighten($color1, 5);
      font-size: 90px;
    }
  }
  small {
    position: absolute;
    float: left;
    top: 120px;
    left: 13px;
    bottom: 0;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

#clubs {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  .side {
    position: absolute;
    width: 120px;
    float: left;
  }
  .body {
    position: relative;
    width: 100%;
    float: left;
    margin-left: 130px;
  }
}

#club-avatar {
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 110px;
  height: 110px;
  max-width: 110px;
  max-height: 110px;
  @include background-size(cover);
  background-position: 25% 25%;
}

.club-header {
  #{(headings(1,6))} {
    padding: 0;
    margin: 0 0 0 8px;
  }
  .title {
    h6 {
      color: darken($color2, 16);
      overflow: hidden;
      width: 600px;
    }
  }
  margin-top: -20px;
  background: darken($color1, 10);
  padding: 6px 12px;
  .avatar {
    img {
      max-width: 80px;
      max-height: 80px;
    }
  }
}

#clubs-list {
  margin-top: -20px;
  position: relative;
  .sidebar {
    float: left;
    position: fixed;
    height: 100%;
    background: $color2;
    width: 250px;
    overflow-y: auto;
    z-index: 1000;

    hr {
      border-top: 1px solid darken($color2, 3);
    }

    #{headings(1,6)} {
      font-weight: bold;
      padding: 0;
      margin: 10px;
    }

    .club-display {
      @include transition(all 0.3s ease-in-out);
      &:hover {
        @include transition(all 0.3s ease-in-out);
        background: darken($color2, 3);
      }
    }

    .club-avatar {
      max-width: 60px;
      max-height: 60px;
      width: 60px;
      margin: 12px 6px;
      float: left;
    }

    .club-info {
      float: left;
      overflow: hidden;
    }

    .clearfix {
      border-bottom: 1px dashed darken($color2, 12);
    }

  }
  .body {
    float: left;
    position: relative;
    width: 100%;
  }
}

.btn {
  &.btn-club {
    position: relative;
    background: darken($color2, 12);
    @include border-radius(4px);
    color: white;
    font-weight: bold;
    margin-top: 5px;
    &:hover {
      background: darken($color2, 8);
    }
  }
  .fa.fa-heart {
    color: hotpink;
  }
  .fa.fa-star {
    color: gold;
  }
  .fa.fa-plus {
    font-size: 8px;
    float: left;
    position: absolute;
    left: 15px;
    top: 10px;
  }
}

.club-nav {
  height: 50px;
  border-top: 1px solid darken($color1, 18);
  background: darken($color1, 10);
  ul {
    height: 50px;
    border-top: 1px solid darken($color1, 6);
    border-bottom: 1px solid darken($color1, 20);
    list-style-type: none;
    list-style: none;
    clear: both;
    li {
      float: left;
      height: 48px;
      padding: 15px;
      &:hover, &.active {
        background: darken($color1, 13);
      }
      a {

        text-decoration: none;
      }
    }
  }
}

#club-body {
  .half-ll, .half-rr {
    width: 50%;
    float: left;
    padding: 12px 15px;
    #{headings(1,6)} {
      margin: 0 0 10px 0;
      padding: 0;
    }
  }
  .member-avatars {
    a {
      margin: 0px 5px;
    }
    a:first-child {
      margin-right: 5px;
    }
    a:last-child {
      margin-left: 5px;
    }
  }
  .club-member-icon {
    display: inline-block;
    max-width: 80px;
    max-height: 80px;
  }
}

#gallery {
  margin: 20px;
  background: lighten($color1, 8);
  padding: 10px;
  .gallery-display {
    padding: 10px;
    display: inline-block;
    .item {
      display: inline-block;
      margin-right: 5px;
      img {
        max-width: 200px;
        max-height: 300px;
        @include box-shadow(2px 2px 2px darken($color2, 10));
      }
    }
  }
}

.announcement-display {
  margin-bottom: 10px;
  position: relative;
  padding: 10px;
  background: lighten($color1, 5);
  .title {
    font-weight: bold;
    font-size: 18px;
    small {
      font-weight: 300;
      font-size: 12px;
    }
  }
  .text {
    margin-top: 10px;
    max-height: 400px;
    overflow: hidden;
  }

  .gradient-hide {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 400px;
    width: 100%;
    max-height: 400px;
    @include background-image(linear-gradient(bottom, lighten($color1, 5) 0%, lighten($color1, 5) 30%, transparent 100%));
    a {
      font-size: 20px;
      margin-top: 380px;
      top: 310px;
      position: relative;
    }
  }
}

.members-display {
  .user-avatar {
    img:first-child {
      margin-right: 2px;
    }
    img:last-child {
      margin-left: 2px;
    }
    display: inline-block;
    img {
      display: inline-block;
      max-width: 80px;
      max-height: 80px;
      margin: 0 2px;
    }
  }
}

.settings-page {
  background: lighten($color1, 10);
  padding: 10px;
}
