// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-row {
  margin-bottom: 30px;
}

.art-block-header {
  @include background-image(linear-gradient(top, $color3 20%, darken($color3, 10)));
  border-bottom: 1px solid $color5;
  border-top: 1px solid $color5;
  position: relative;
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: $white;
    small {
      display: block;
      color: $white;
      font-size: 14px;
      font-weight: 100;
    }
  }
  .art-block-down {
    background-color: darken($color3, 10);
    position: absolute;
    z-index: 1;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid $color5;
    border-right: 1px solid $color5;
    @include rotate(45deg);
    bottom: -5px;
  }
  .art-block-inner {
    border-top: 1px solid lighten($color3, 20);
    width: 100%;
    padding: 20px;
  }
}

.grid.grid-100 {
  height: 100px;
  width: 100px;
  margin: 0;
}

.grid.grid-200 {
  height: 220px;
  width: 220px;
  margin: 0;
}

.grid.grid-300 {
  height: 340px;
  width: 340px;
  margin: 0;
}

.grid-display {
  max-width: 1234px;
  width: 1234px;
}

.grid-thumb {
  margin: 0 20px 20px 0;
  float: left;
  @include box-shadow(darken($color1, 20) 3px 1px 5px);
}

.popular {
  .grid-thumb {
    margin: 0 27px 28px 0;
  }
}

.grid-column {
  display: inline-block;
  width: 120px;
}

.double {
  width: 240px;
}

.triple {
  width: 360px;
}

.grid-uniform {
  width: 280px;
  height: 200px;
}

.scale-25 {
  background-position: 25% 25%;
  @include background-size(cover);
}

.faker-thumb {
  visibility: hidden;
  width: 1px;
  height: 1px;
  position: absolute;
}

.journal-table {
  .col {
    display: inline-block;
    width: 30%;
    margin: 8px 5px;
    background: lighten($color1, 5);
    padding: 6px 8px;
    .avatar {
      float: left;
      img {
        max-width: 80px;
        max-height: 80px;
      }
    }
    .data {
      margin: 0 0 0 5px;
      float: left;
    }
    .title {
      overflow: hidden;
      font-size: 18px;
      font-weight: bold;
    }
  }
}