// Place all the styles related to the journal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.half-ll, .half-lr {
  .wrapper {
    position: relative;
    border: 1px solid $color2;
    @include border-radius(4px);
    background: lighten($color1, 5);
    .header {
      position: relative;
      @include border-radius(4px 4px 0 0);
      @include background-image(linear-gradient(lighten($color1, 10) 0%, lighten($color1, 10) 2%, lighten($color1, 1) 5%, lighten($color1, 1) 100%));
      padding: 10px;
      border-bottom: 1px solid $color2;
    }
    form {
      padding: 15px;
    }
  }
  .journal-wrapper {
    margin: 0 0 15px 0;
    position: relative;
    border: 1px solid $color1;
    background: lighten($color1, 20);
    padding: 15px;
    small {
      color: $color2;
    }
    h2 {
      font-weight: bold;
      color: darken($color2, 30);
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
    .journal-text {
      position: relative;
      margin: 8px 3px;
      max-height: 300px;
      overflow-y: hidden;
      overflow: hidden;
      .gradient {
        width: 100%;
        height: 300px;
        position: absolute;
        z-index: 99;
        top: 0;
        @include background-image(linear-gradient(bottom, rgba(lighten($color1, 20), 1) 0%, rgba(lighten($color1, 20), 0.9) 20%, rgba($color1, 0)));
      }
    }
  }
  .journal-view-more {
    font-weight: bold;
    font-size: 18px;
  }
}

.full-wrapper {
  position: relative;
  border: 1px solid $color1;
  background: lighten($color1, 20);
  padding: 15px;
  .header {
    small {
      color: $color2;
    }
    h2 {
      font-weight: bold;
      color: darken($color2, 30);
    }
  }
  .text {
    margin: 8px 3px;
  }
}

.cc {
  border: 1px solid $color2;
  @include border-radius(4px);
  background: lighten($color1, 5);
  .cc-header {
    position: relative;
    @include border-radius(4px 4px 0 0);
    @include background-image(linear-gradient(lighten($color1, 10) 0%, lighten($color1, 10) 2%, lighten($color1, 1) 5%, lighten($color1, 1) 100%));
    border-bottom: 1px solid $color2;
    padding: 5px 10px;
  }
}