// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news-form-container {
  background: lighten($color1, 5);
  border: 1px solid $color2;
  @include border-radius(4px);
  padding: 6px 12px;
  #{headings(1,6)} {
    padding: 0;
    margin: 0;
  }
  hr {
    border-top: 1px solid $color2;
    margin: 8px 0px;
  }
}

.news-show {
  background: lighten($color1, 5);
  #{headings(1,6)} {
    padding: 0;
    margin: 0;
    small {
      font-size: 12px;
    }
  }
  .row {
    padding: 6px 12px;
  }
}

.news-article-list {
  article {
    background: lighten($color1, 5);
    margin: 5px 0px;
    padding: 12px;
    #{headings(1,6)} {
      padding: 0;
      margin: 0;
      small {
        font-size: 12px;
      }
    }
  }
}

.round-circle-date {
  background: $color2;
  color: $white;
  padding: 8px;
  @include border-radius(50%);
  text-align: center;
}