// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$nbar01: #60495a;

#wrapper.notifications {
  margin-top: 54px;
  #sidebar-wrapper {
    .badge {
      position: absolute;
      right: 20px;
      top: 12px;
    }
    background: #a6ab9f;
    li > a {
      position: relative;
      i {
        padding-right: 8px;
      }
      color: white;
      font-size: 14px;
    }
    a.bottom {
      i {
        margin-right: 10px;
      }
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100px;
      background: #a6ab9f;
      padding: 12px 0 0 0;
      text-align: center;
      color: white;
      font-weight: bold;
      text-decoration: none;
      &:hover {
        text-decoration: none;
        background: lighten(#a6ab9f, 15);
      }
    }
  }
  #page-content-wrapper {
    margin: 0;
    padding: 0;
    .gen-container {
      @include border-radius(0);
    }
    .ad-image {
      padding: 10px 0;
    }
  }
}

.pm-container {
  background: lighten($color1, 10);
  display: table;
  margin-top: 20px;
  width: 100%;
  .pm-list {
    vertical-align: top;
    vert-align: top;
    width: 50%;
    display: table-cell;
    .select-area {
      border-top: 1px solid lighten($color1, 20);
      border-bottom: 1px solid $color2;
      padding: 5px;
      .btn.btn-select {
        padding: 5px;
        margin: 0;
        @include background-image(linear-gradient(top, lighten($btnfavc, 20%) 0%, lighten($btnfavc, 20) 2%, $btnfavc 2%, darken($btnfavc, 20) 100%));
        font-size: 12px;
        color: $color1;
        border: 1px solid $btnfavcb;
      }
    }
    .msg-container {
      background: lighten($color1, 18);
      padding: 10px;
      display: table;
      width: 100%;
      border-bottom: 1px dotted $color2;
      .msg-cb {
        display: table-cell;
        width: 20px;
        vertical-align: top;
        vert-align: top;
        input[type=checkbox] {
          margin: 15px 0 0 0;
        }
      }
      .msg-data {
        .pull-left {
          overflow: hidden;
        }
      }
    }
  }
  .pm-read {
    width: 50%;
    display: table-cell;
    border-left: 1px dotted $color2;
    padding: 15px;
    .avatar-80 {
      img {
        width: 80px;
        height: 80px;
      }
    }

    .header {
      display: table;
      width: 100%;
      .avatar {
        display: table-cell;
        width: 80px;
        vertical-align: top;
      }
      .header-text {
        display: table-cell;
        vertical-align: top;
        padding: 0 0 0 10px;
        #{headings(1,6)} {
          padding: 0;
          margin: 0;
        }
      }
    }
    .data-text {
      margin-top: 20px;
    }
  }
}

.report-container {
  margin: 20px;
  background: lighten($color1, 5);
  border: 1px solid $color2;
  @include border-radius(5px);
  padding: 6px 12px;
  .label {
    padding: 3px;
    margin: 0;
  }
  a {
    text-decoration: none;
    color: darken($color2, 20);
  }
}

.art-piece {
  margin: 10px;
  display: inline-block;
  background: lighten($color1, 5);
  border: 1px solid $color2;
  padding: 10px;
  position: relative;
  @include border-radius(4px);
  img {
    max-width: 150px;
    max-height: 200px;
    @include border-radius(8px);
    border: 1px solid $color2;
  }
  .art-delete {
    position: absolute;
    top: 4px;
    right: 5px;
    text-decoration: none;
    color: lighten($color1, 20);
    z-index: 99;
    background: $color2;
    @include border-radius(50%);
    padding: 2px;
  }
  a {
    color: darken($color2, 20);
    text-decoration: none;
  }
}

.comment-row {
  margin: 20px 20px 0 20px;
  background: lighten($color1, 5);
  border: 1px solid $color2;
  @include border-radius(5px);
  padding: 6px 12px;
  a {
    color: darken($color2, 20);
    text-decoration: none;
  }
}

a {
  color: darken($color2, 30);
}