// Place all the styles related to the Poll controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.poll-container {
  h4 {
    font-weight: bold;
  }
  background: lighten($color1, 5);
  margin: 0 0 20px 0;
  padding: 20px 15px;
  @include border-radius(4px);
  border: 1px solid $color2;
  .poll-text {
    margin: 10px 0;
    background: lighten($color1, 15);
    white-space: pre-line;
    height: 200px;
    overflow: hidden;
    overflow-y: hidden;
    @include border-radius(4px);
    border: 1px solid $color1;
    @include box-shadow(inset 0 0 5px $color2);
    padding: 5px;
  }
  dl {
    margin: 10px 0;
    dt {
      float: left;
      @include word-break(break-all);
      margin: 0 10px 0 0;
      width: 20%;
      overflow: auto;
      white-space: pre-line;
    }
  }
}
