// Place all the styles related to the stats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

svg {
  &.chart {
    .bar {
      a {
        fill: #919A91;
        text-decoration: none;
        &:hover, &:active, &:visited {
          fill: #919A91;
          text-decoration: none;
        }
      }
      fill: #919A91;
      rect {
        rx: 4px;
        ry: 4px;
        height: 20px;
      }
      text {
        fill: #5d665d;
      }
    }
  }
}

figure > svg {
  .pie {
    fill: yellowgreen;
  }
}
