// Place all the styles related to the submission controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.submission-mb {
  margin: 10px 20px;
  .submission-container {
    @include box-shadow(inset 0 0 5px darken($color1, 15));
    background: lighten($color1, 20);
    padding: 10px;
    @include border-radius(4px);
    border: 1px solid darken($color1, 10);
  }

  .btn-choose-file {
    background: $button01;
    @include background-image(linear-gradient(top, $button00 0%, $button00 2%, $button01 5%, $button02 100%));
    border: 1px solid darken($button01, 20);
    color: $white;
  }

  .content-information-input {
    background: darken($color1, 5);
    padding: 5px;
    margin-top: 10px;
    @include border-radius(4px);
    border: 1px solid darken($color2, 5);
    .header {
      input {
        font-weight: bold;
      }
    }
    .body {
      margin-top: 5px;
      textarea {
        resize: none;
        max-height: 350px;
      }
    }
    .tagsarea {
      margin-top: 5px;
    }
    input, textarea {
      border: none;
      outline: none;
      &:focus {
        outline-style: none;
        outline-width: 0;
      }
    }
  }

  .rating {
    margin: 0 auto;
    width: 400px;
    padding: 10px 0 0 0;
    .rating-label {
      float: left;
      margin: 0 10px 0 0;
    }
    .rating-select {
      float: left;
    }

    span.label.label-danger {
      margin-left: 10px;
    }
  }
}

.main-body {
  position: relative;
  float: left;
  width: 100%;
  padding: 0 300px 0 0;
}

.right-apps {
  float: left;
  position: absolute;
  right: 0;
  width: 300px;
  a {
    text-decoration: none;
    color: darken($color2, 20);
  }
  .apps {
    margin-right: 20px;
    @include border-radius(4px);
    border: 1px solid darken($color1, 20);
    &.disabled {
      @include background-image(linear-gradient(top, lighten($color2, 20) 0%, lighten($color2, 5) 1%, $color2 100%));
    }
    &.enabled {
      @include background-image(linear-gradient(top, lighten($color1, 20) 0%, lighten($color1, 10) 1%, lighten($color1, 5) 100%));
    }
    padding: 10px;
    img {
      width: 50%;
    }
  }
}

$sub-btn-01: #B7D2B7;
$sub-btn-02: #8DC546;
$sub-btn-03: #608E2B;

.submission-submit-btn {
  margin-top: 20px;
  float: right;
  color: lighten($sub-btn-01, 40);
  background: $sub-btn-02;
  @include background-image(linear-gradient(top, lighten($sub-btn-01, 20) 0%, lighten($sub-btn-02, 5) 5%, $sub-btn-03 100%));
  padding: 6px 12px;
  @include border-radius(4px);
  border: 1px solid darken($color1, 20);
}

.checkbox-filters {
  input[type=checkbox] {
    margin: 5px 5px 0 10px;
  }
}

.submission-content {
  position: relative;
  .main-content {
    float: left;
    width: 100%;
    padding: 0 340px 0 0;
  }
  .sidebar-content {
    width: 300px;
    position: absolute;
    right: 0;
    margin: 12px 6px;
    float: right;
  }
  .sidebar-bg {
    background: #AEB3A8;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 330px;
    height: 100%;
  }
  #image-cell {
    max-width: 1024px;
    padding: 15px 5px;
  }
}

#submission-content-data {
  .avatar {
    margin-right: 10px;
    img {
      width: 80px;
      height: 80px;
    }
  }
  .data {
    #{headers(1,6)} {
      margin: 0;
      padding: 0;
    }
    h3 > a {
      color: darken($color2, 40);
      text-decoration: none;
      &:hover {
        color: $button02;
      }
      small {
        font-size: 10px;
      }
    }
    h4 > a {
      text-decoration: none;
      color: darken($color11, 20);
    }
    .submission-tags-list {
      a {
        color: darken($color2, 20);
        text-decoration: none;
        font-weight: bold;
        font-size: 12px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .submission-description-holder {
    height: 2px;
    border-top: 1px solid lighten($color1, 5);
  }
  .submission-description {
    border-top: 1px solid darken($color2, 5);
  }
}

.comment, .comments {
  .avatar {
    vertical-align: top;
    img {
      float: left;
      width: 54px;
      height: 54px;
      vertical-align: top;
    }
    display: table-cell;
  }
  textarea {
    width: 100%;
    float: left;
    resize: vertical;
    @include box-shadow(inset 0 2px 2px darken($color1, 10));
    border: 1px solid darken($color2, 20);
  }
}

.comment-new {
  .comment-arrow-left {
    border-bottom: 1px solid darken($color2, 20);
    border-left: 1px solid darken($color2, 20);
    width: 5px;
    height: 5px;
    background: white;
    position: absolute;
    top: 8px;
    left: 17px;
    @include rotate(45deg);
  }
  display: table;
  width: 100%;
  .comment {
    position: relative;
    display: table-cell;
    width: 100%;
    padding: 0 0 0 20px;
  }
  button[type=submit] {
    margin-top: 10px;
    background: $sub-btn-02;
    @include background-image(linear-gradient(top, lighten($sub-btn-01, 20) 0%, lighten($sub-btn-02, 5) 5%, $sub-btn-03 100%));
    padding: 6px 12px;
    @include border-radius(4px);
    border: 1px solid darken($color1, 20);
  }
}

.comment-display {
  display: table;
  position: relative;
  width: 100%;
  margin: 10px 0 0 0;
  .avatar {
    display: table-cell;
    width: 54px;
    img {
      width: 54px;
      height: 54px;
      float: left;
    }
  }
  .comment-block {
    display: table-cell;
    float: left;
    width: 100%;
    padding: 0 0 0 10px;
    position: relative;
    .left-arrow {
      border-bottom: 1px solid darken($color1, 20);
      border-left: 1px solid darken($color1, 20);
      background: darken($color1, 2);
      @include rotate(45deg);
      width: 8px;
      height: 8px;
      position: absolute;
      top: 16px;
      left: 6px;
    }
    .text {
      background: darken($color1, 2);
      @include border-radius(4px);
      border: 1px solid darken($color1, 20);
      #{headers(1,6)} {
        padding: 0;
        margin: 0;
        a {
          text-decoration: none;
          font-size: 18px;
          font-weight: bold;
          color: desaturate(darken($button02, 5), 10);
        }
      }
      padding: 8px;
      .comment-data {
        position: relative;
        margin: 5px 0 0 0;
        overflow-y: hidden;
        overflow: hidden;
        &.comment-hide {
          max-height: 250px;
        }
        .comment-read-more {
          position: absolute;
          top: 0;
          height: 250px;
          width: 100%;
          @include background-image(linear-gradient(bottom, darken($color1, 2) 0%, darken($color1, 2) 20%, rgba(0, 0, 0, 0) 100%));
          padding-top: 220px;
        }
      }
    }
  }
}

.pagination {
  a {
    background: $sub-btn-02;
    @include background-image(linear-gradient(top, lighten($color1, 20) 0%, lighten($color1, 5) 5%, darken($color1, 10) 100%));
    padding: 3px 12px;
    @include border-radius(4px);
    border: 1px solid darken($color1, 20);
    color: $button02;
    font-size: 11px;
    text-decoration: none;
  }
}

#patreon-integration {
  img {
    width: 100%;
  }
}

.metainfo {
  dt {
    display: block;
    float: left;
    clear: left;
    width: 100px;
    color: darken($color2, 30);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 300;
    font-size: 14px;
  }
  dd {
    display: block;
    font-size: 12px;
    line-height: 25px;
  }
  .metainfo-heading {
    font-size: 15px;
  }
}

.sp {
  width: 75%;
  border-top: 1px solid darken($color2, 5);
  .spi {
    border-top: 1px solid lighten($color1, 2);
  }
}

.report-area {
  a {
    color: darken($color2, 60);
  }
  i {
    margin: 0 10px 0 0;
    color: $button02;
  }
}

.sidebar-btn {
  background: $sub-btn-02;
  @include background-image(linear-gradient(top, lighten($color1, 20) 0%, lighten($color1, 5) 5%, darken($color1, 10) 100%));
  padding: 3px 12px;
  @include border-radius(4px);
  border: 1px solid darken($color1, 20);
  color: $button02;
  font-size: 11px;
  text-decoration: none;
  margin: 0 0 0 10px;
  a {
    text-decoration: none;
    color: darken($color2, 20);
    h5 {
      font-size: 18px;
      font-weight: bold;
    }
  }
}

.report-image-view {
  img {
    max-width: 650px;
  }
}

.btn.btn-submit-report {
  @include background-image(linear-gradient(top, lighten($color1, 20) 0%, lighten($color1, 5) 5%, darken($color1, 10) 100%));
  border: 1px solid darken($color2, 2);
  @include border-radius(4px);
}

.club-select {
  display: inline-block;
  padding: 12px;
  background: darken($color1, 5);
  border: 1px solid $color2;
  float: left;
  vertical-align: middle;
  vert-align: middle;
  margin-right: 10px;
  text-decoration: none;
  @include border-radius(4px);
  &:hover {
    text-decoration: none;
  }
  &.selected {
    background: darken($color1, 10);
  }
  .club-img {
    width: 80px;
    height: 80px;
    margin-right: 12px;
    overflow: hidden;
    @include background-size(cover);
  }

  .club-name {
    max-width: 150px;
    overflow: hidden;
    margin-top: 30px;
    font-weight: bold;
  }
}