// Place all the styles related to the user_settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sidebar-settings {
  float: left;
  #{headings(1,6)} {
    padding: 0;
    margin: 0;
  }
  ul {
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin: 0 0 0 8px;
    li {
      position: relative;
      background: darken($color1, 5);
      padding: 6px 12px;
      margin: 8px 0 0 0;
      &.active {
        background: lighten($color1, 5);
      }
      &:not(.active) {
        &:hover {
          background: lighten($color1, 8);
        }
      }
      @include border-radius(4px);
      a {
        color: darken($color2, 20);
        text-decoration: none;
        &:hover, &:active, &:link, &:focus {
          color: darken($color2, 20);
        }
        //&:after
        //{
        //  content: ">";
        //  position: absolute;
        //
        //}
      }
    }
  }
}

.settings-body {
  float: left;
}

.body-settings {
  margin: 0 0 20px 20px;
  background: lighten($color1, 10);
  width: 630px;
  @include border-radius(4px);
  border: 1px solid $color2;
  .settings-inner {
    border-top: 1px solid lighten($color1, 20);
    @include border-radius(4px);
    padding: 20px;
    #{headings(1,6)} {
      padding: 0;
      margin: 0;
    }
    .settings-title {
      font-weight: bold;
    }
    .settings-grid {
      .avatar {
        max-width: 120px;
        max-height: 120px;
      }
      &.left-preview {
        float: left;
        width: 150px;
        margin: 10px 10px 0 0;
      }
      &.content {
        &.full {
          width: 546px;
        }
        textarea {
          width: 100%;
          max-width: 100%;
        }
        float: left;
        margin: 10px 0 0 0;
        ul {
          list-style-type: none;
          list-style: none;
          padding: 0;
          margin: 0;
          li {
            font-weight: bold;
            span {
              font-weight: 300;
              font-size: 11px;
            }
          }
        }
      }
    }
  }
}

.custom_select {
  position: absolute;
  background: $color2;
  padding: 7px 12px;
  margin: 0;
  display: inline-block;
  @include border-radius(4px);
  #avatar-type {
    float: left;
    outline: none;
    @include appearance(none);
    border: transparent;
    background: transparent;
    width: 100%;
  }
}

.submit-btn {
  @include background-image(linear-gradient(top, lighten($color11, 10) darken($color11, 10)));
  @include border-radius(4px);
  border: 1px solid $color12;
  button {
    padding: 6px 12px;
    background: none;
    outline: none;
    @include appearance(none);
    border: transparent;
    border-top: 1px solid lighten($color11, 20);
    @include border-radius(4px);
  }
}

.ml20 {
  margin: 0 0 0 20px;
  .form-control {
    margin: 0 0 0 10px;
  }
  span {
    margin: 0 0 0 10px;
  }
  label {
    width: 100px;
  }
}