// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.userpage {
  margin-top: -20px;
  border-top: 1px solid darken($color2, 15);
  .user-header {
    position: relative;
    background: darken($color1, 10);
    border-top: 1px solid lighten($color1, 10);
    padding: 12px 6px;
    .avatar {
      float: left;
      margin-right: 10px;
    }
    .naming-block {
      #{headings(1,6)} {
        margin: 0;
        padding: 0;
      }
      float: left;
      margin-top: 10px;
    }
    .tabs {
      float: left;
      ul {
        list-style-type: none;
        list-style: none;
        position: absolute;
        bottom: -11px;
        li {
          float: left;
          margin: 0 5px 0 5px;
          height: 35px;
          padding: 5px 8px 2px 8px;
          @include border-radius(4px 4px 0 0);
          a {
            color: darken($color2, 30);
            text-decoration: none;
          }
          &.active {
            background: $color1;
            position: relative;
            z-index: 22;
            border-top: 1px solid lighten($color2, 5);
            border-left: 1px solid lighten($color2, 5);
            border-right: 1px solid lighten($color2, 5);
          }
          &:not(.active):hover {
            background: lighten($color1, 3);
          }
        }
      }
    }
  }
  .user-data {
    background: lighten($color1, 3);
    max-height: 50px;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid $color2;
    border-top: 1px solid lighten($color2, 5);
  }
}

.user-profile-data {
  margin: 20px 0 0 0;
  .art-display {
    width: 50%;
    float: left;
  }
  .journal-display-misc {
    float: left;
    width: 50%;
    padding: 0 0 0 20px;
    .journal-container {
      border: darken($color1, 10);
      background: lighten($color1, 20);
      overflow: hidden;
      overflow-y: hidden;
      max-height: 350px;
      #{headings(1,6)} {
        padding: 0;
        margin: 0;
      }
      .journal-header {
        padding: 15px 25px;
        h2 {
          font-weight: bold;
          font-size: 22px;
          color: darken($color2, 30);
        }
        span {
          color: darken($color2, 30);
          font-size: 12px;
        }
      }
      .journal-body {
        padding: 15px 25px;
        color: darken($color2, 30);
      }
    }
    .journal-footer {
      #{headings(1,6)} {
        padding: 0;
        margin: 0;
      }
      h5 {
        font-weight: bold;
        font-size: 16px;
      }
      padding: 8px 20px;
      a {
        color: darken($color2, 20);
        &:nth-of-type(2) {
          margin: 0 5px;
        }
      }
      i {
        margin: 0 5px 0 0;
      }
      .view-journals {
        font-size: 22px;
        font-weight: bold;
        color: $button02;
        text-decoration: none;
      }
    }
  }
}

.user-space-container {
  padding: 0 0 15px 0;
  .user-space-header {
    position: relative;
    background: darken($color1, 10);
    @include background-image(linear-gradient(lighten($color1, 5) 0%, lighten($color1, 5) 2%, darken($color1, 10) 3%, darken($color1, 10) 100%));
    @include border-radius(4px 4px 0 0);
    border: 1px solid darken($color2, 10);
    padding: 8px 0 8px 12px;
    .user-space-arrow-down {
      position: absolute;
      width: 12px;
      height: 12px;
      background: darken($color1, 10);
      border-left: 1px solid darken($color2, 10);
      border-bottom: 1px solid darken($color2, 10);
      left: 14px;
      bottom: -6px;
      @include rotate(-45deg);
    }
  }
  .user-space-body {
    @include border-radius(0 0 4px 4px);
    border-right: 1px solid darken($color2, 10);
    border-left: 1px solid darken($color2, 10);
    border-bottom: 1px solid darken($color2, 10);
    padding: 12px 8px;
    img {
      max-width: 300px;
      max-height: 400px;
    }
    a {
      color: darken($color2, 20);
      text-decoration: none;
      span {
        margin-top: 5px;
      }
      i {
        margin-right: 5px;
      }
    }
  }
}

.gen-container {
  position: relative;
  border: 1px solid darken($color1, 10);
  @include border-radius(4px);
  .header {
    @include border-radius(4px 4px 0 0);
    font-weight: bold;
    position: relative;
    @include background-image(linear-gradient(lighten($color1, 5) 0%, lighten($color1, 5) 2%, darken($color1, 10) 3%, darken($color1, 10) 100%));
    border-bottom: 1px solid darken($color2, 10);
    padding: 6px 12px;
    .arrow-down {
      position: absolute;
      width: 12px;
      height: 12px;
      background: darken($color1, 10);
      border-left: 1px solid darken($color2, 10);
      border-bottom: 1px solid darken($color2, 10);
      left: 14px;
      bottom: -6px;
      @include rotate(-45deg);
    }
  }
  .inner {
    padding: 15px;
  }
  margin: 0 0 10px 0;
}

.gallery-image-container {
  display: inline-block;
  margin: 0 0 10px 0;
  .gallery-links {
    i {
      margin: 0 5px;
    }
  }
}

#gallery-page {
  margin: 20px 20px 0 0;
  position: relative;
  padding: 0 0 0 250px;
  a {
    color: darken($color2, 10);
    text-decoration: none;
  }
  .folders {
    float: left;
    width: 250px;
    overflow: auto;
    left: 250px;
    position: absolute;
    margin: 0 0 0 -250px;
  }
  .display {
    position: relative;
    width: 100%;
    background: lighten($color1, 10);
    margin: 0 -20px 0 0;
    .image-container {
      border: 1px solid $color2;
      @include box-shadow(1px 0 2px 0 $color2);
      display: inline-block;
      margin: 0px 5px 0 0;
      @include background-size(cover);
      background-repeat: no-repeat;
      img {
        min-width: 100px;
        max-height: 200px;
        max-width: 300px;
      }
    }
  }
  .folders, .display {
    padding: 12px 15px;
  }
}

.half-split-container {
  margin: 20px 0;
  padding: 0 20px;
  .half-ll, .half-lr {
    width: 50%;
    float: left;
    padding: 12px 15px;
    #{headings(1,6)} {
      padding: 0;
      margin: 0;
    }
  }
  .polls-wrapper {
    position: relative;
    background: lighten($color1, 5);
    @include border-radius(4px);
    border: 1px solid $color2;
    .header {
      position: relative;
      @include border-radius(4px 4px 0 0);
      @include background-image(linear-gradient(lighten($color1, 10) 0%, lighten($color1, 10) 2%, lighten($color1, 1) 5%, lighten($color1, 1) 100%));
      padding: 10px;
      border-bottom: 1px solid $color2;
    }
    form {
      margin: 15px;
    }
    #option-container {
      margin: 10px 0;
      min-height: 20px;
    }
  }
}

.gg-btn {
  @include background-image(linear-gradient(top, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%));
  padding: 5px;
  @include border-radius(4px);
  border: 1px solid rgb(105, 175, 49);
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.ad-8 {
  background: lighten($color1, 1) 100%;
  width: 8px;
  height: 8px;
  border-bottom: 1px solid $color2;
  border-right: 1px solid $color2;
  position: absolute;
  left: 8px;
  top: 32px;
  @include rotate(45deg);
}

#send-message-modal {
  textarea {
    resize: horizontal;
    min-height: 200px;
  }
}