<div class="row userpage">
  <%= render('user/userheader') %>
</div>

<div class="row" style="margin-top: 20px;">
  <div class="col-md-4 center-block text-center">
    <h3>Highest Commented Pieces</h3>
  </div>
  <div class="col-md-4 center-block text-center">
    <h3>Downloads</h3>
  </div>
  <div class="col-md-4 center-block text-center">
    <h3>Most Popular</h3>
  </div>
</div>