<% if !logged_in? %>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Join Bara Box</h4>
          </div>
          <div class="modal-body">
            <%= form_for(:user, url: register_path, :html => {:id => 'form-register', :class => 'form-horizontal'}) do |f| %>
                <div class="form-group">
                  <%= f.label :username %>
                  <%= f.text_field :username, :class => 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :email %>
                  <%= f.text_field :email, :class => 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :password %>
                  <%= f.password_field :password, :class => 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :password_confirmation %>
                  <%= f.password_field :password_confirmation, :class => 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :birthday %>
                  <div class="dob">
                    <%= date_select :birthday, "", {:order => [:month, :day, :year], :prompt => {:day => 'Day', :month => 'Month', :year => 'Year'}, :start_year => 1900} %>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label :gender %>
                  <div>
                    <%= select_tag :gender, options_for_select([['Male', 1], ['Female', 2]]) %>
                  </div>
                </div>
                <hr>
                <div class="checkbox">
                  <label for="">
                    <%= check_box_tag :accept_tos %> I have read and agreed to the Terms of Service
                  </label>
                </div>
                <br>
                <div class="form-group center-block text-center">
                  <!--<a href="#" class="btn btn-gradient-mint" id="user-signup">-->
                  <!--<span>Sign Up</span>-->
                  <!--</a>-->
                  <%= f.submit "Submit", :class => 'btn btn-gradient-mint lrg' %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
<% end %>