<nav class="navbar navbar-default <%= (controller_name == 'notifications') ? 'navbar-fixed-top' : '' %>">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_url %>">
        <%= image_tag 'logo.png', :class => 'pull-left' %>
        <span class="pull-right">Bara <strong>Box</strong></span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-main">
        <li><a href="<%= news_index_path %>">News</a></li>
        <li><a href="https://barabox.freshdesk.com/support/home" target="_blank">Support</a></li>
        <% if logged_in? %>
            <li><%= link_to "Submit", submission_create_url, :class => 'btn btn-info btn-sm btn-submit' %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <img class="avatar-icon-sm img-rounded" src="<%= grabGravatar(@current_user.email) %>" alt="<%= grabGravatar(@current_user.email) %>">
                <%= @current_user.username %>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="<%= user_view_path(@current_user.username) %>"><i class="fa fa-info-circle"></i> Profile</a>
                </li>
                <li role="separator" class="divider"></li>
                <li><a href="<%= submission_create_url %>"><i class="fa fa-paint-brush"></i> Submit</a></li>
                <li><%= link_to user_settings_path do %> <i class="fa fa-cogs"></i> Settings
                  <% end %></li>
                <li role="separator" class="divider"></li>
                <li>
                  <%= link_to logout_path, :method => :delete do %>
                      <i class="fa fa-sign-out"></i> Logout
                  <% end %>
                </li>
              </ul>
            </li>
            <li class="dropdown" id="messaging">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-envelope" style="font-size: 20px;"></i>
                <small><%= mbTotalCount %></small>
              </a>
              <ul class="dropdown-menu">
                <li><a href="<%= notifications_show_path %>"><i class="fa fa-inbox"></i> All Notifications</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="<%= news_index_path %>"><i class="fa fa-bullhorn"></i> News
                  <small><%= mbNewsCount %></small>
                </a></li>
                <li><a href="<%= notifications_watch_path %>"><i class="fa fa-eye"></i> Watches
                  <small><%= mbWatchCount %></small>
                </a></li>
                <li><a href="<%= notifications_comments_path %>"><i class="fa fa-commenting"></i> Comments
                  <small><%= mbCommentCount %></small>
                </a></li>
              </ul>
            </li>
            <li><%= link_to content_tag(:i, '', {:class => 'fa fa-group'}), club_index_path %></li>
            <% if isAdmin? %>
                <li><a href="<%= index_admin_url %>"><i class="fa fa-star fa-spin" style="font-size: 20px;"></i></a>
                </li>
            <% end %>
        <% else %>
            <li><a href="#" data-target="#myModal" data-toggle="modal">Join</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login</a>
              <div class="dropdown-menu">
                <%= form_for(:session, url: login_path, :html => {:id => 'form-login'}) do |f| %>
                    <div class="form-group">
                      <%= f.label :username %>
                      <%= f.text_field :username, :class => 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label :password %>
                      <%= f.password_field :password_digest, :class => 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.submit "Login", :class => 'btn btn-gradient lrg' %>
                    </div>
                <% end %>
              </div>
            </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>