<!DOCTYPE html>
<html>
<head>
  <title><%= t("title") %></title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,100' rel='stylesheet' type='text/css'>
</head>

<body>
<%= render "layouts/navbar" %>
<%= render "layouts/loginmodal" %>
<div class="container">
  <div class="row">
  </div>
</div>
<div class="container-fluid">
  <%= yield %>
</div>
<br/><br/>
<% if params[:debug] === '1' %>
    <%= debug(params) if Rails.env.development? %>
    <%= debug(session[:user_id]) if Rails.env.development? %>
<% end %>
</body>
</html>
